<%!
from django.utils.translation import ugettext as _
from django.utils.translation import ungettext
from django.template import RequestContext
import third_party_auth
from third_party_auth import pipeline
from microsite_configuration import microsite
from django.core.urlresolvers import reverse
from markupsafe import escape
from courseware.courses import course_image_url, get_course_about_section
from student.helpers import (
  VERIFY_STATUS_NEED_TO_VERIFY,
  VERIFY_STATUS_SUBMITTED,
  VERIFY_STATUS_APPROVED,
  VERIFY_STATUS_MISSED_DEADLINE
)
%>

<%
  cert_name_short = settings.CERT_NAME_SHORT
  cert_name_long = settings.CERT_NAME_LONG
%>

<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>


<%block name="pagetitle">${_("Dashboard")}</%block>
<%block name="bodyclass">view-dashboard is-authenticated</%block>
<%block name="nav_skip">#my-courses</%block>

<%block name="header_extras">
% for template_name in ["donation"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="dashboard/${template_name}.underscore" />
</script>
% endfor
</%block>

<%block name="js_extra">
  <%static:js group='dashboard'/>
  <script type="text/javascript">
    $(document).ready(function() {
      edx.dashboard.legacy.init({
        dashboard: "${reverse('dashboard')}",
        signInUser: "${reverse('signin_user')}",
        passwordReset: "${reverse('password_reset')}",
        changeEmail: "${reverse('change_email')}",
        changeEmailSettings: "${reverse('change_email_settings')}",
        changeName: "${reverse('change_name')}",
        verifyToggleBannerFailedOff: "${reverse('verify_student_toggle_failed_banner_off')}",
      });
    });
  </script>
</%block>

<!-- new frontend beginning -->

<div class="dashboard-wrapper">

      <div class="dashboard-notifications" tabindex="-1">
        <div class="container-bs dashboard-notifications__container">

          %if message:
              <section class="dashboard-banner">
                  ${message}
              </section>
          %endif

          %if enrollment_message:
              <section class="dashboard-banner">
                  ${enrollment_message}
              </section>
          %endif
        </div>
      </div>
</div>

<div class="cmc-dashboard-body">
  <div class="cmc-dashboard-body__container container-bs">
    <div class="cmc-dashboard-body__row row">
      <div class="col-xs-12 col-sm-8 col-sm-push-4 cmc-dashboard-body__courses">
        % if len(course_enrollment_pairs) > 0:

          <h1 class="cmc-dashboard-body__courses__title">Current Modules</h1>

          % for course, enrollment in course_enrollment_pairs:
              <% show_courseware_link = (course.id in show_courseware_links_for) %>
              <% cert_status = cert_statuses.get(course.id) %>
              <% show_email_settings = (course.id in show_email_settings_for) %>
              <% course_mode_info = all_course_modes.get(course.id) %>
              <% show_refund_option = (course.id in show_refund_option_for) %>
              <% is_paid_course = (course.id in enrolled_courses_either_paid) %>
              <% is_course_blocked = (course.id in block_courses) %>
              <% course_verification_status = verification_status_by_course.get(course.id, {}) %>
              <% course_requirements = courses_requirements_not_met.get(course.id) %>

              <!-- -->
              <%
                cert_name_short = course.cert_name_short
                if cert_name_short == "":
                  cert_name_short = settings.CERT_NAME_SHORT

                cert_name_long = course.cert_name_long
                if cert_name_long == "":
                  cert_name_long = settings.CERT_NAME_LONG
                billing_email = settings.PAYMENT_SUPPORT_EMAIL
              %>

              <div class="row cmc-dashboard-course">
                % if settings.FEATURES.get('ENABLE_VERIFIED_CERTIFICATES'):
                  % if enrollment.mode == "verified":
                    % if settings.FEATURES.get('SEPARATE_VERIFICATION_FROM_PAYMENT') and request.session.get('separate-verified', False):
                      % if verification_status.get('status') in [VERIFY_STATUS_NEED_TO_VERIFY, VERIFY_STATUS_SUBMITTED, VERIFY_STATUS_APPROVED]:
                        <% mode_class = " verified" %>
                      % else:
                        <% mode_class = " honor" %>
                      % endif
                    % else:
                      <% mode_class = " verified" %>
                    % endif
                  % else:
                    <% mode_class = " " + enrollment.mode %>
                  % endif
                % else:
                  <% mode_class = "" %>
                % endif

                <%
                  course_target = reverse('info', args=[course.id.to_deprecated_string()])
                %>

                % if show_courseware_link:
                  % if not is_course_blocked:
                    <a href="${course_target}" class="col-xs-12 col-sm-5 col-md-6 cmc-dashboard-course__image">
                      <img src="${course_image_url(course)}" alt="${_('{course_number} {course_name} Cover Image').format(course_number=course.number, course_name=course.display_name_with_default) |h}">
                      % if settings.FEATURES.get('ENABLE_VERIFIED_CERTIFICATES'):
                        % if enrollment.mode == "verified":
                          % if settings.FEATURES.get('SEPARATE_VERIFICATION_FROM_PAYMENT') and request.session.get('separate-verified', False):
                            % if verification_status.get('status') in [VERIFY_STATUS_NEED_TO_VERIFY, VERIFY_STATUS_SUBMITTED]:
                              <div class="course-ribbon verified" title="${_("Your verification is pending")}"><span>ID PENDING</span></div>
                            % elif verification_status.get('status') == VERIFY_STATUS_APPROVED:
                              <div class="course-ribbon verified" title="${_("You're enrolled as a verified student")}"><span>VERIFIED</span></div>
                            % else:
                              <div class="course-ribbon verified" title="${_("You're enrolled as an honor code student")}"><span>HONOR CODE</span></div>
                            % endif
                          % else:
                            <div class="course-ribbon verified" title="${_("You're enrolled as a verified student")}"><span>VERIFIED</span></div>
                          % endif
                        % elif enrollment.mode == "honor":
                          <div class="course-ribbon verified" title="${_("You're enrolled as an honor code student")}"><span>HONOR CODE</span></div>
                        % elif enrollment.mode == "audit":
                          <div class="course-ribbon verified" title="${_("You're auditing this course")}"><span>AUDITING</span></div>
                        % elif enrollment.mode == "professional":
                          <div class="course-ribbon verified" title="${_("You're enrolled as a professional education student")}"><span>PROFESSIONAL</span></div>
                        % endif
                      % endif
                    </a>
                  % else:
                    <div class="col-xs-12 col-sm-5 col-md-6 cmc-dashboard-course__image course-blocked">
                      <img src="${course_image_url(course)}" alt="${_('{course_number} {course_name} Cover Image').format(course_number=course.number, course_name=course.display_name_with_default) |h}">
                      % if settings.FEATURES.get('ENABLE_VERIFIED_CERTIFICATES'):
                        % if enrollment.mode == "verified":
                          % if settings.FEATURES.get('SEPARATE_VERIFICATION_FROM_PAYMENT') and request.session.get('separate-verified', False):
                            % if verification_status.get('status') in [VERIFY_STATUS_NEED_TO_VERIFY, VERIFY_STATUS_SUBMITTED]:
                              <div class="course-ribbon verified" title="${_("Your verification is pending")}"><span>ID PENDING</span></div>
                            % elif verification_status.get('status') == VERIFY_STATUS_APPROVED:
                              <div class="course-ribbon verified" title="${_("You're enrolled as a verified student")}"><span>VERIFIED</span></div>
                            % else:
                              <div class="course-ribbon verified" title="${_("You're enrolled as an honor code student")}"><span>HONOR CODE</span></div>
                            % endif
                          % else:
                            <div class="course-ribbon verified" title="${_("You're enrolled as a verified student")}"><span>VERIFIED</span></div>
                          % endif
                        % elif enrollment.mode == "honor":
                          <div class="course-ribbon verified" title="${_("You're enrolled as an honor code student")}"><span>HONOR CODE</span></div>
                        % elif enrollment.mode == "audit":
                          <div class="course-ribbon verified" title="${_("You're auditing this course")}"><span>AUDITING</span></div>
                        % elif enrollment.mode == "professional":
                          <div class="course-ribbon verified" title="${_("You're enrolled as a professional education student")}"><span>PROFESSIONAL</span></div>
                        % endif
                      % endif
                    </div>
                  % endif
                % else:
                  <div class="col-xs-12 col-sm-5 col-md-6 cmc-dashboard-course__image">
                    <img src="${course_image_url(course)}" alt="${_('{course_number} {course_name} Cover Image').format(course_number=course.number, course_name=course.display_name_with_default) |h}">
                    % if settings.FEATURES.get('ENABLE_VERIFIED_CERTIFICATES'):
                      % if enrollment.mode == "verified":
                        % if settings.FEATURES.get('SEPARATE_VERIFICATION_FROM_PAYMENT') and request.session.get('separate-verified', False):
                          % if verification_status.get('status') in [VERIFY_STATUS_NEED_TO_VERIFY, VERIFY_STATUS_SUBMITTED]:
                            <div class="course-ribbon verified" title="${_("Your verification is pending")}"><span>ID PENDING</span></div>
                          % elif verification_status.get('status') == VERIFY_STATUS_APPROVED:
                            <div class="course-ribbon verified" title="${_("You're enrolled as a verified student")}"><span>VERIFIED</span></div>
                          % else:
                            <div class="course-ribbon verified" title="${_("You're enrolled as an honor code student")}"><span>HONOR CODE</span></div>
                          % endif
                        % else:
                          <div class="course-ribbon verified" title="${_("You're enrolled as a verified student")}"><span>VERIFIED</span></div>
                        % endif
                      % elif enrollment.mode == "honor":
                        <div class="course-ribbon verified" title="${_("You're enrolled as an honor code student")}"><span>HONOR CODE</span></div>
                      % elif enrollment.mode == "audit":
                        <div class="course-ribbon verified" title="${_("You're auditing this course")}"><span>AUDITING</span></div>
                      % elif enrollment.mode == "professional":
                        <div class="course-ribbon verified" title="${_("You're enrolled as a professional education student")}"><span>PROFESSIONAL</span></div>
                      % endif
                    % endif
                  </div>
                % endif




                <div class="col-xs-12 col-sm-7 col-md-6 cmc-dashboard-course__info">
                  % if show_courseware_link:
                    % if not is_course_blocked:
                      <a href="${course_target}" class="cmc-dashboard-course__name"><span>${course.display_number_with_default | h}:</span>${get_course_about_section(course, 'title')}</a>
                    % else:
                      <h3 class="cmc-dashboard-course__name"><span>${course.display_number_with_default | h}:</span>${get_course_about_section(course, 'title')}</h3>
                    % endif
                  %endif
                  <p class="cmc-dashboard-course__description">
                    ${get_course_about_section(course, 'short_description')}
                  </p>

                  % if is_course_blocked:
                    <p id="block-course-msg" class="course-block cmc-dashboard-course__description" style="font-style: italic;">
                      ${_("You can no longer access this course because payment has not yet been received. "
                          "You can {contact_link_start}contact the account holder{contact_link_end} "
                          "to request payment, or you can "
                          "{unenroll_link_start}unenroll{unenroll_link_end} "
                          "from this course").format(
                        contact_link_start='<a href="#">',
                        contact_link_end='</a>',
                        unenroll_link_start=(
                          '<a id="unregister_block_course" rel="leanModal" '
                          'data-course-id="{course_id}" data-course-number="{course_number}" '
                          'href="#unenroll-modal">'.format(
                            course_id=escape(course.id),
                            course_number=escape(course.number),
                          )
                        ),
                        unenroll_link_end="</a>",
                      )}
                    </p>
                  %endif

                  % if course.may_certify() and cert_status:
                  <%include file='_dashboard_certificate_information.html' args='cert_status=cert_status,course=course, enrollment=enrollment'/>
                  % endif

                  % if settings.FEATURES.get('SEPARATE_VERIFICATION_FROM_PAYMENT') and request.session.get('separate-verified', True):
                    % if verification_status.get('status') in [VERIFY_STATUS_NEED_TO_VERIFY, VERIFY_STATUS_SUBMITTED, VERIFY_STATUS_APPROVED] and not is_course_blocked:
                    <div class="message message-status is-shown cmc-course__description">
                      % if verification_status['status'] == VERIFY_STATUS_NEED_TO_VERIFY:
                        <div class="verification-reminder">
                          % if verification_status['days_until_deadline'] is not None:
                            <h4 class="message-title">${_('Verification not yet complete.')}</h4>
                            <p class="message-copy">${ungettext(
                              'You only have {days} day left to verify for this course.',
                              'You only have {days} days left to verify for this course.',
                              verification_status['days_until_deadline']
                            ).format(days=verification_status['days_until_deadline'])}</p>
                          % else:
                            <h4 class="message-title">${_('Almost there!')}</h4>
                            <p class="message-copy">${_('You still need to verify for this course.')}</p>
                          % endif
                        </div>
                        <div class="verification-cta">
                          <a href="${reverse('verify_student_verify_later', kwargs={'course_id': unicode(course.id)})}" class="cta" data-course-id="${course.id | h}">${_('Verify Now')}</a>
                        </div>
                      % elif verification_status['status'] == VERIFY_STATUS_SUBMITTED:
                        <h4 class="message-title">${_('You have already verified your ID!')}</h4>
                        <p class="message-copy">${_('Thanks for your patience as we process your request.')}</p>
                      % elif verification_status['status'] == VERIFY_STATUS_APPROVED:
                        <h4 class="message-title">${_('You have already verified your ID!')}</h4>
                        % if verification_status['verification_good_until'] is not None:
                          <p class="message-copy">${_('Your verification status is good until {date}.').format(date=verification_status['verification_good_until'])}
                        % endif
                      % endif
                    </div>
                    % endif
                  % endif

                  <h4 class="cmc-dashboard-course__time"><span>Starts:</span>Self-paced</h4>
                  <div class="cmc-dashboard-course__options">

                    % if show_email_settings:
                            % if not is_course_blocked:
                            <a href="#email-settings-modal" class="email-settings cmc-dashboard-course__options__email" rel="leanModal" data-course-id="${course.id | h}" data-course-number="${course.number | h}" data-optout="${unicode(course.id) in course_optouts}">${_('Email Settings')}</a>
                            % else:
                            <a class="disable-look-settings cmc-dashboard-course__options__email" data-course-id="${course.id| h}" data-course-number="${course.number | h}" data-optout="${unicode(course.id) in course_optouts}">${_('Email Settings')}</a>
                            % endif
                    % endif

                    % if is_paid_course and show_refund_option:
                      ## Translators: The course's name will be added to the end of this sentence.
                      % if not is_course_blocked:
                      <a href="#unenroll-modal" class="unenroll cmc-dashboard-course__options__unenroll" rel="leanModal" data-course-id="${course.id | h}" data-course-number="${course.number | h}" onclick="document.getElementById('track-info').innerHTML='${_("Are you sure you want to unenroll from the purchased course")}';
                      document.getElementById('refund-info').innerHTML=gettext('You will be refunded the amount you paid.')">
                        ${_('Unenroll')}
                      </a>
                      % else:
                      <a class="disable-look-unregister cmc-dashboard-course__options__unenroll" data-course-id="${course.id | h}" data-course-number="${course.number | h}" onclick="document.getElementById('track-info').innerHTML='${_("Are you sure you want to unenroll from the purchased course")}';
                      document.getElementById('refund-info').innerHTML=gettext('You will be refunded the amount you paid.')">
                        ${_('Unenroll')}
                      </a>
                      % endif
                    % elif is_paid_course and not show_refund_option:
                      ## Translators: The course's name will be added to the end of this sentence.
                      % if not is_course_blocked:
                      <a href="#unenroll-modal" class="unenroll cmc-dashboard-course__options__unenroll" rel="leanModal" data-course-id="${course.id | h}" data-course-number="${course.number | h}" onclick="document.getElementById('track-info').innerHTML='${_("Are you sure you want to unenroll from the purchased course")}';
                      document.getElementById('refund-info').innerHTML=gettext('You will not be refunded the amount you paid.')">
                        ${_('Unenroll')}
                      </a>
                      % else:
                      <a class="disable-look-unregister cmc-dashboard-course__options__unenroll" data-course-id="${course.id | h}" data-course-number="${course.number | h}" onclick="document.getElementById('track-info').innerHTML='${_("Are you sure you want to unenroll from the purchased course")}';
                      document.getElementById('refund-info').innerHTML=gettext('You will not be refunded the amount you paid.')">
                        ${_('Unenroll')}
                      </a>
                      % endif
                    % elif enrollment.mode != "verified":
                      ## Translators: The course's name will be added to the end of this sentence.
                      % if not is_course_blocked:
                      <a href="#unenroll-modal" class="unenroll cmc-dashboard-course__options__unenroll" rel="leanModal" data-course-id="${course.id | h}" data-course-number="${course.number | h}" onclick="document.getElementById('track-info').innerHTML='${_("Are you sure you want to unenroll from")}'; document.getElementById('refund-info').innerHTML=''">
                        ${_('Unenroll')}
                      </a>
                      % else:
                      <a class="disable-look-unregister cmc-dashboard-course__options__unenroll" data-course-id="${course.id | h}" data-course-number="${course.number | h}" onclick="document.getElementById('track-info').innerHTML='${_("Are you sure you want to unenroll from")}'; document.getElementById('refund-info').innerHTML=''">
                        ${_('Unenroll')}
                      </a>
                      % endif
                    % elif show_refund_option:
                      ## Translators: The course's name will be added to the end of this sentence.
                      % if not is_course_blocked:
                      <a href="#unenroll-modal" class="unenroll cmc-dashboard-course__options__unenroll" rel="leanModal" data-course-id="${course.id | h}" data-course-number="${course.number | h}" onclick="document.getElementById('track-info').innerHTML='${_("Are you sure you want to unenroll from the verified {cert_name_long} track of").format(cert_name_long=cert_name_long)}';
                      document.getElementById('refund-info').innerHTML=gettext('You will be refunded the amount you paid.')">
                        ${_('Unenroll')}
                      </a>
                      % else:
                      <a class="disable-look-unregister cmc-dashboard-course__options__unenroll" data-course-id="${course.id | h}" data-course-number="${course.number | h}" onclick="document.getElementById('track-info').innerHTML='${_("Are you sure you want to unenroll from the verified {cert_name_long} track of").format(cert_name_long=cert_name_long)}';
                      document.getElementById('refund-info').innerHTML=gettext('You will be refunded the amount you paid.')">
                        ${_('Unenroll')}
                      </a>
                      % endif
                    % else:
                      ## Translators: The course's name will be added to the end of this sentence.
                      % if not is_course_blocked:
                      <a href="#unenroll-modal" class="unenroll cmc-dashboard-course__options__unenroll" rel="leanModal" data-course-id="${course.id | h}" data-course-number="${course.number | h}" onclick="document.getElementById('track-info').innerHTML='${_("Are you sure you want to unenroll from the verified {cert_name_long} track of").format(cert_name_long=cert_name_long)}';
                      document.getElementById('refund-info').innerHTML=gettext('The refund deadline for this course has passed, so you will not receive a refund.')">
                        ${_('Unenroll')}
                      </a>
                      % else:
                      <a class="disable-look-unregister cmc-dashboard-course__options__unenroll" data-course-id="${course.id | h}" data-course-number="${course.number | h}" onclick="document.getElementById('track-info').innerHTML='${_("Are you sure you want to unenroll from the verified {cert_name_long} track of").format(cert_name_long=cert_name_long)}';
                      document.getElementById('refund-info').innerHTML=gettext('The refund deadline for this course has passed, so you will not receive a refund.')">
                        ${_('Unenroll')}
                      </a>
                      % endif
                    % endif

                  </div>
                  <div class="cmc-dashboard-course__description">
                    % if course_requirements:
                    ## Multiple pre-requisite courses are not supported on frontend that's why we are pulling first element
                    <% prc_target = reverse('about_course', args=[unicode(course_requirements['courses'][0]['key'])]) %>
                    <section class="prerequisites">
                      <p class="tip">
                        ${_("You must successfully complete {link_start}{prc_display}{link_end} before you begin this course.").format(
                            link_start='<a href="{}">'.format(prc_target),
                            link_end='</a>',
                            prc_display=course_requirements['courses'][0]['display'],
                          )}
                      </p>
                    </section>
                    % endif
                  </div>
                </div>
              </div>

               <script>
                         $( document ).ready(function() {

                             if("${is_course_blocked}" == "True"){
                                 $( "#unregister_block_course" ).click(function() {
                                     $('.disable-look-unregister').click();
                                 });
                             }
                         });
               </script>
               <!-- -->
          % endfor

        % else:
          <div class="dashboard-courses__empty">
            <h3 class="dashboard-courses__empty__text">${_("Looks like you haven't enrolled in any courses yet.")}</h3>
            % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
              <a class="dashboard-courses__empty__cta" href="${marketing_link('COURSES')}">
                ${_("Find courses now!")}
              </a>
            % endif
          </div>
        % endif

        % if staff_access and len(errored_courses) > 0:
          <div id="course-errors">
            <h2>${_("Course-loading errors")}</h2>

          % for course_dir, errors in errored_courses.items():
             <h3>${course_dir | h}</h3>
                 <ul>
               % for (msg, err) in errors:
                   <li>${msg}
                     <ul><li><pre>${err}</pre></li></ul>
                   </li>
               % endfor
                 </ul>
          % endfor
          </div>
        % endif

      </div>
      <div class="col-xs-12 col-sm-4 col-sm-pull-8 cmc-dashboard-body__user">
        <h2 class="user-name">${ user.username }</h2>
        <span class="field-label">Full Name</span>
        <a href="#apply_name_change" rel="leanModal" class="edit-name field-edit">Edit</a>
        <p class="field-value">${ user.profile.name | h }</p>
        <span class="field-label">Email</span>
        % if external_auth_map is None or 'shib' not in external_auth_map.external_domain:
          <a href="#change_email" rel="leanModal" class="edit-email field-edit">Edit</a>
        % endif
        <p class="field-value">${ user.email | h }</p>

        %if len(language_options) > 1:
        <%include file='/dashboard/_dashboard_info_language.html' />
        %endif

        % if third_party_auth.is_enabled():
        <div class="controls--account">
          <span class="title">
            ## Translators: this section lists all the third-party authentication providers (for example, Google and LinkedIn) the user can link with or unlink from their edX account.
            ${_("Connected Accounts")}
          </span>

          <span class="data">
            <span class="third-party-auth">

            % for state in provider_user_states:
            <div class="auth-provider">

              <div class="status">
                % if state.has_account:
                <i class="icon fa fa-link"></i> <span class="copy">${_("Linked")}</span>
                % else:
                <i class="icon fa fa-unlink"></i><span class="copy">${_("Not Linked")}</span>
                % endif
              </div>

              <span class="provider">${state.provider.NAME}</span>
              <span class="control">

              % if state.has_account:
                <form
                  action="${pipeline.get_disconnect_url(state.provider.NAME)}"
                  method="post"
                  name="${state.get_unlink_form_name()}">
                  <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">

                  <a href="#" onclick="document.${state.get_unlink_form_name()}.submit()">
                    ## Translators: clicking on this removes the link between a user's edX account and their account with an external authentication provider (like Google or LinkedIn).
                    ${_("Unlink")}
                  </a>
                % else:
                  <a href="${pipeline.get_login_url(state.provider.NAME, pipeline.AUTH_ENTRY_DASHBOARD)}">
                    ## Translators: clicking on this creates a link between a user's edX account and their account with an external authentication provider (like Google or LinkedIn).
                    ${_("Link")}
                  </a>
              % endif
              </form>

              </span>
            </div>
            % endfor
          </span>
        </div>
        % endif

        % if len(order_history_list):
        <div class="order-history">
          <span class="title">${_("Order History")}</span>
          % for order_history_item in order_history_list:
            <span><a href="${order_history_item['receipt_url']}" target="_blank" class="edit-name">${order_history_item['order_date']}</a></span>
          % endfor
        </div>
        % endif

        % if external_auth_map is None or 'shib' not in external_auth_map.external_domain:
        <a href="#password_reset_complete" rel="leanModal" id="pwd_reset_button" class="reset-password">${_("Reset Password")}</a>
        <form id="password_reset_form" method="post" data-remote="true" action="${reverse('password_reset')}">
          <input id="id_email" type="hidden" name="email" maxlength="75" value="${user.email}" />
          <!-- <input type="submit" id="pwd_reset_button" value="${_("Reset Password")}" /> -->
        </form>
        % endif

        <%include file='/dashboard/_dashboard_status_verification.html' />

        <%include file='/dashboard/_dashboard_reverification_sidebar.html' />
      </div>
    </div>
  </div>
</div>


<!-- end of new frontend -->

<section id="email-settings-modal" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="email-settings-title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="email-settings-title">
        ${_("Email Settings for {course_number}").format(course_number='<span id="email_settings_course_number"></span>')}
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>

    <form id="email_settings_form" method="post">
      <input name="course_id" id="email_settings_course_id" type="hidden" />
      <div class="checkbox-group">
        <input type="checkbox" id="receive_emails" name="receive_emails" /><label>${_("Receive course emails")}</label>
      </div>
      <div class="submit">
        <input type="submit" id="submit" value="${_("Save Settings")}" />
      </div>
    </form>
  </div>
</section>

<section id="unenroll-modal" class="modal unenroll-modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="unenrollment-modal-title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="unenrollment-modal-title">
        <span id='track-info'></span>
        <span id='refund-info'></span>
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div id="unenroll_error" class="modal-form-error"></div>
    <form id="unenroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <input name="course_id" id="unenroll_course_id" type="hidden" />
      <input name="enrollment_action" type="hidden" value="unenroll" />
      <div class="submit">
        <input name="submit" type="submit" value="${_("Unenroll")}" />
      </div>
    </form>
  </div>
</section>

<section id="password_reset_complete" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="password-reset-email">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="password-reset-email">
        ${_("Password Reset Email Sent")}
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div>
      <form> <!-- Here for styling reasons -->
        <section>
          <p>${_("An email has been sent to {email}. Follow the link in the email to change your password.").format(email=user.email)}</p>
        </section>
      </form>
    </div>
  </div>
</section>

<section id="change_email" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="change_email_title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2>
        <span id="change_email_title">${_("Change Email")}</span>
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div id="change_email_body">
      <form id="change_email_form">
        <div id="change_email_error" class="modal-form-error"> </div>
        <fieldset>
          <div class="input-group">
            <label>${_("Please enter your new email address:")}</label>
            <input id="new_email_field" type="email" value="" />
            <label>${_("Please confirm your password:")}</label>
            <input id="new_email_password" value="" type="password" />
          </div>
          <section>
            <p>${_("We will send a confirmation to both {email} and your new email address as part of the process.").format(email=user.email)}</p>
          </section>
          <div class="submit">
            <input type="submit" id="submit_email_change" value="${_("Change Email")}"/>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>

<%include file='/modal/_modal-settings-language.html' />

<section id="apply_name_change" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="change-name-title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="change-name-title">
        ${_("Change your name")}
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div id="change_name_body">
      <form id="change_name_form">
        <div id="change_name_error" class="modal-form-error"> </div>
        ## Translators: note that {platform} {cert_name_short} will look something like: "edX certificate". Please do not change the order of these placeholders.
        <p>${_("To uphold the credibility of your {platform} {cert_name_short}, all name changes will be recorded.").format(platform=settings.PLATFORM_NAME, cert_name_short=cert_name_short)}</p>
        <br/>
        <fieldset>
          <div class="input-group">
            ## Translators: note that {platform} {cert_name_short} will look something like: "edX certificate". Please do not change the order of these placeholders.
            <label>${_("Enter your desired full name, as it will appear on your {platform} {cert_name_short}:").format(platform=settings.PLATFORM_NAME, cert_name_short=cert_name_short)}</label>
            <input id="new_name_field" value="" type="text" />
            <label>${_("Reason for name change:")}</label>
            <textarea id="name_rationale_field" value=""></textarea>
          </div>
          <div class="submit">
            <input type="submit" id="submit" value="${_("Change My Name")}">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
