## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%! from microsite_configuration.templatetags.microsite import platform_name %>
<%! from datetime import datetime %>

<% current_year = datetime.now().year %>

<footer class="footer">
  <div class="container-bs footer__container">
    <div class="footer__content">
        <ul class="footer__links">
            <li>
              &copy; ${current_year} Coordinate My Care. All rights reserved.
            </li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/tos">Terms of Service</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
    </div>
    <div class="footer__poweredby">
      <span>Built on:</span>
      <a href="http://open.edx.org" target="_blank" class="footer__poweredby__logo" alt="Open edX"><img class="svg-fallback svg" src="${static.url('isc-cmc/images/openedx-logo.svg')}" style="height: 14px;" alt="Open edX"><img class="svg-fallback png" src="${static.url('isc-cmc/images/openedx-logo.png')}" style="height: 14px; width: auto;" alt="Open edX"></a>
    </div>
  </div>
  <div class="container-bs footer__edx-legal">
    edX, Open edX and the edX and Open edX logos are trademarks or registered trademarks of edX Inc.
  </div>
</footer>





    <!-- Include jQuery mobile -->
    <script src="${static.url('isc-cmc/js/jquery.mobile.custom.min.js')}"></script>
    <!-- Modernizr -->
    <script src="${static.url('isc-cmc/js/modernizr-custom.js')}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="${static.url('isc-cmc/js/bootstrap.min.js')}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="${static.url('isc-cmc/js/bowser.min.js')}"></script>
    <!-- Custom base JavaScript -->
    <script src="${static.url('isc-cmc/js/base.js')}"></script>

      <!-- old IE redirect -->
      <script>
          $(document).ready(function() {
            if (do_redirect && bowser.msie && bowser.version < 9) {
              $(location).attr('href','http://cmc.learning.intersystems.com/ie-static');
            }
          });
      </script>

<script type="text/javascript">
piAId = '129061';
piCId = '5900';

(function() {
function async_load(){
var s = document.createElement('script'); s.type = 'text/javascript';
s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
}
if(window.attachEvent) { window.attachEvent('onload', async_load); }
else { window.addEventListener('load', async_load, false); }
})();
</script>