nav.courseware.wrapper-course-material {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;

  &.progress {
    height: auto;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
  }
}

.wrapper-course-material.progress {
  height: auto;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  overflow: visible;
}

.wrapper-course-material .course-material, .wrapper-preview-menu .preview-menu {
  padding-left: 30px;
  padding-right: 30px;
}

.wrapper-course-material ol.course-tabs {
  padding: 15px 0 0;
}

.wrapper-course-material ol.course-tabs li a, .wrapper-course-material.progress ol.course-tabs li a, .wrapper-course-material ol.course-tabs li a.active, .wrapper-course-material.progress ol.course-tabs li a.active {
  color: $brand-primary-color;
  font: inherit;
  font-size: 16px;
  @include sans-serif;
  position: relative;
  bottom: -1px;

  &.active {
    border: 1px solid #ccc;
    border-radius: 2px 2px 0 0;
    border-bottom: none;
    background: none;
    background-color: #fff;
    color: $base-text-color;
    box-shadow: none;
    text-shadow: none;
  }
}

div.course-wrapper {
  border: none;
  padding-top: 30px;
  padding-bottom: 40px;
}

.course-index {
  background: none;
  border: none;
}

.course-index .accordion {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 10px 0;

  .chapter {
    background: none;
    box-shadow: none;
    padding: 10px 15px;

    &.is-open {
      background: none;
    }
  }

  .course-navigation {

    .button-chapter {
      background: none;
      box-shadow: none;

      .group-heading {
        color: $base-text-color;
        font-size: 14px;
      }

      &.active {

        .group-heading {
          font-weight: normal;
        }
      }

      &.is-open {
        background: none;
      }
    }

    .chapter-content-container {
      padding-left: 15px;
      background: none;

      .chapter-menu .menu-item.active a {
        background: none;
        font-weight: 600;

        p {
          font-weight: 600;
        }
      }

      &.is-open {
        border: none;
      }
    }
  }

  ul, ul.ui-accordion-content {

    li {

      a, a p {
        font: inherit;
        @include sans-serif;
        font-size: 14px;
      }

      &.active{
        font: inherit;
        @include sans-serif;
        border: 1px solid #ccc;
        outline: none;
        padding: 5px;
        background-color: #fff;

        &>a {
          border: none;
          box-shadow: none;
          background: none;
        }
      }
    }
  }
}

body.view-in-course .wrapper-course-material .course-material, body.view-in-course .wrapper-preview-menu .preview-menu {
  padding-bottom: 0;
}

body.view-in-course .course-wrapper {
  padding-top: 30px;
  background: none;
}

.search-results .search-results-item .result-excerpt {
  margin-right: 80px;
  min-height: 20px;
}
