<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="container about">
<h1>Terms and conditions for SynerScope Academy</h1>
<p>
The service "SynerScope Academy" is offered over the internet by the company SynerScope. The use of SynerScope Academy is subject to the below terms and conditions. Using SynerScope Academy constitutes acceptance of these terms and conditions.
Deviations from these terms and conditions is possible only by means of written confirmation by SynerScope.
</p>

<h2>Article 1. Use of the service</h2>
<p>
1.1	The service SynerScope Academy allows you to Online courses. 
<br />
1.2	To use SynerScope Academy, you first need to register. After completing registration, you can directly log into your account and use the servce. 
<br />
1.3	You must secure access to your account using the username and password against third parties. In particular you must keep the password strictly confidential. SynerScope may assume that all actions undertaken from your account after logging in with your username and password is authorized and supervised by you. This means you are liable for these actions, unless and until you have notified SynerScope that someone else knows your password. 
<br />
1.4	SynerScope Academy processes your personal data. You give your consent for all forms of processing within the scope of the service. Consult the privacy statement of SynerScope for more information.
</p>

<h2>Article 2. Terms of use</h2>
<p>
2.1	It it is not permitted to use SynerScope Academy for any purpose that violates Dutch or other applicable law or regulation. This includes (among others) the storage or transmission of data using the service that is slanderous, libelous or racist 
2.2	In addition, on SynerScope Academy it is forbidden to
</p>
<ul style="font: normal 1em/1.6em Georgia,Cambria,'Times New Roman',Times,serif;">
	<li>use indecent language;</li>
	<li>publish information where it is unwanted (offtopic);</li>
	<li>publish information that is pornographic or erotic (even if legal under applicable law);</li>
	<li>publish information in violation of copyright or hyperlinks to such information;</li>
	<li>violate the privacy of third party, for example by distributing their personal data without permission or clear need or the repeated harassment of third parties with unwanted communications;</li>
	<li>exercise commercial activities;</li>
</ul>
<p>
and to do anything that violates applicable netiquette.
<br />
2.3	Should SynerScope discover that you violate any of the above, or receive a complaint alleging the same, then SynerScope may intervene to end the violation. 
<br />
2.4	If in the opinion of SynerScope the continued functioning of the computer systems or network of SynerScope or third parties is actually or under threat of being damaged or jeopardized, for example through excessive transmission of e-mail or other data, leaks of personal data or virus activity, SynerScope may take all steps it deems reasonably necessary to end or avert such damage or jeopardy. SynerScope in particular is entitled to change your contributions at its own discretion. 
<br />
2.5	SynerScope is at all times entitled to file a criminal complaint for any offenses committed through or using the service. In addition SynerScope is entitled to supply your name, address, IP-address and other identifying data to a third party alleging that you violate its rights or these terms and conditions, provided the validity of the complaint is clear, no other way of obtaining this information exists and the third party has an evident interest in obtaining this information. 
<br />
2.6	SynerScope may recoup from you all damages it suffers as a result of your violation of these terms of use. You agree and hold harmless SynerScope from all third-party claims arising out of your violation of these terms of use. 
</p>

<h2>Article 3. Availability and maintenance</h2>
<p>
3.1	SynerScope uses its best efforts to have the service available at all times but makes no guarantees about uninterrupted availability. 
<br />
3.2	SynerScope actively maintains SynerScope Academy. Maintenance can take place at any time, even if this may negatively impact the availability of the service. Maintenance is announced in advance whenever possible. 
<br />
3.3	SynerScope may from time to time adapt SynerScope Academy. Your feedback and suggestions are welcome but ultimately SynerScope decides which adaptations to carry out (or not). 
</p>

<h2>Article 4. Intellectual property</h2>
<p>
4.1	The service SynerScope Academy, the accompanying software as well as all information and images on the website is the intellectual property of SynerScope. None of these items may be copied or used without prior written permission of SynerScope, except and to the extent permitted by mandatory law.
<br />
4.2	Information you store or process using the service is and remains your property (or the property of your suppliers or licensors). SynerScope receives a limited license to use this information for the service. 
<br />
4.3	The license of the previous clause is perpetual and irrevocable. The license remains in force after termination of the agreement. In exceptional circumstances where a serious reason calls for it, SynerScope may decide to adapt or remove the information. 
<br />
4.4	You may change or remove information you publish or store using the service at your own discretion. 
<br />
4.5	If you send information to SynerScope, for example a bug report or suggestion for improvement, you grant SynerScope a perpetual and unlimited license to use this information for the service. This does not apply to information you expressly mark as confidential.
<br />
4.6	SynerScope shall refrain from accessing data you store or transfer using SynerScope Academy, unless this is necessary for a good provision of the service or SynerScope is forced to do so by law or order of competent authority. In these cases SynerScope shall use its best efforts to limit access to the information as much as possible.
<br />
4.7	In case SynerScope discovers your contributions have been copied by third parties in combination with contributions of others, then SynerScope is authorized to take legal action against such copying under its own or your name. All costs must be borne by SynerScope but you must offer your cooperation if necessary. This clause does not forbid you from publishing your contributions elsewhere but is aimed at allowing SynerScope to act against copying of (substantially) all contributions to SynerScope Academy.
</p>

<h2>Article 5. Compensation for the service</h2>
<p>
5.1	SynerScope Academy is offered completely at no charge. 
</p>

<h2>Article 6. Limitation of liability</h2>
<p>
6.1	Except in case of intentional misconduct or gross negligence SynerScope shall not be liable for the use of the service or any damages in connection therewith. 
<br />
6.2	SynerScope in no event is liable for indirect damages, consequential damages, lost profits, missed savings or damages through business interruption.
<br />
6.3	Damages may only be claimed if reported in writing to SynerScope at most two months after discovery. 
<br />
6.4	In case of force majeure SynerScope is never required to compensate damages suffered by you. Force majeure includes among others disruptions or unavailability of the internet, telecommunication infrastructure, power interruptions, riots, traffic jams, strikes, company disruptions, interruptions in supply, fires and floods.
</p>

<h2>Article 7. Term and termination</h2>
<p>
7.1	This agreement enters into force as soon as you first use the service and then remains in force until terminated.
<br />
7.2	If you entered into this agreement as a consumer, you may terminate the agreement at any time with a notice period of one month, calculated from the moment of the notice. Non-consumers can terminate the agreement with a notice period of two months.
<br />
7.3	SynerScope is entitled to terminate the agreement if you have not used the service at all in the last 18 months. In such an event SynerScope shall first send a reminder mail to the e-mail address connected to your account. 
</p>

<h2>Article 8. Changes to terms</h2>
<p>
8.1	SynerScope may change or add to these terms and conditions as well as any prices at any time.
<br />
8.2	SynerScope shall announce through the service changes or additions at least thirty days before their taking effect. 
<br />
8.3	If you do not want to accept a change or addition, you can terminate the agreement until the date the changes take effect. Use of SynerScope Academy after the date of effect shall constitute your acceptance of the changed or added-to terms and conditions. 
</p>

<h2>Article 9. Miscellaneous provisions</h2>
<p>
9.1	Dutch law applies to this agreement.
<br />
9.2	Except to the extent determined otherwise by mandatory applicable law all disputes arising in connection with SynerScope Academy shall be brought before the competent Dutch court for the principal place of business of SynerScope.
<br />
9.3	For any clause in these terms and conditions that demand that a statement must be done "in writing" to be legally valid, a statement by e-mail or communication through the SynerScope Academy service shall be sufficient provided with sufficient certainty the authenticity of the sender can be established and the integrity of the statement has not been compromised.
<br />
9.4	The version of any communication of information as recorded by SynerScope shall be deemed to be authentic, unless you supply proof to the contrary.
<br />
9.5	In case any part of these terms and conditions are declared legally invalid, this shall not affect the validity of the whole of the agreement. The parties shall in such an event agree on one or more replacement provisions that approximate the original intent of the invalid provision(s) within the limits of the law.
<br />
9.6	SynerScope is entitled to transfer its rights and obligations under this agreement to a third party as part of an acquisition of SynerScope Academy or the associated business activities.
</p>

<br />
<br />
<a href="#privacy"></a>
<h1 id="privacy">Privacy Statement of SynerScope</h1>
<p>
Through its service, SynerScope Academy will process privacy-sensitive or personal data. SynerScope values the privacy of its customers and observes due care in processing and protecting personal data. 
<br />
We process data in compliance with the requirements laid down by the Dutch Personal Data Protection Act (DPDA). SynerScope is the party responsible for all data processing. In this privacy statement, we will explain which personal data we collect and for which purposes. We recommend that you read it carefully.
<br />
This privacy statement was last amended on 14 May 2015.
</p>

<h2>Use of Personal Data</h2>
<p>
By using our service, you are providing certain data to us. This could be personal data. We only retain and use the personal data provided directly by you or for which it is clear that it has been supplied to us to be processed. Although companies can make use of our website, company data is not covered by the DPDA. This privacy statement is primarily directed to those using the website as a private person or as an employee.
</p>

<h2>Contact Form</h2>
<p>
If you fill out a contact form on the website or send us an email, the data you provide will be retained for as long as is necessary depending on the nature of the form or the content of your email, to fully answer and correctly handle your message or email.
We collect your:
</p>
<ul style="font: normal 1em/1.6em Georgia,Cambria,'Times New Roman',Times,serif;">
	<li>Email address </li>
	<li>Special personal data (level of education) </li>
</ul>

<p>
We may contact you for commercial purposes:
</p>

<ul style="font: normal 1em/1.6em Georgia,Cambria,'Times New Roman',Times,serif;">
	<li>by email</li>
</ul>
<p>
Each individual message offers you the opportunity to unsubscribe.
</p>

<h2>Registration</h2>
<p>
Certain features of our service require you to register beforehand. After your registration we will retain your user name and the personal data you provided. We will retain this data so that you do not have to re-enter it every time you visit our website, to contact you in connection with the execution of the agreement, invoicing and payment, and to provide an overview of the products and services you have purchased from us. 
 We will not provide the data linked to your user name to third parties, unless it is necessary for the execution of the agreement you concluded with us or if this is required by law. In the event of suspicion of fraud or misuse of our website we may hand over personal data to the entitled authorities. 
To register on our website we require the following data:
</p>
<ul style="font: normal 1em/1.6em Georgia,Cambria,'Times New Roman',Times,serif;">
	<li>your email address</li>
	<li>your date of birth</li>
	<li>your gender</li>
	<li>your user name</li>
	<li>Special personal data</li>
</ul>
<p>
Our portal gives you access to a management environment where you can change and save your settings. To access our online portal we require: 
</p>
<ul style="font: normal 1em/1.6em Georgia,Cambria,'Times New Roman',Times,serif;">
	<li>your email address</li>
	<li>your date of birth</li>
	<li>your gender</li>
	<li>your user name</li>
	<li>Special personal data</li>
</ul>
<p>
When using our service, the following data is published so as to be visible to everyone on the Internet, including search engines:
</p>
<ul style="font: normal 1em/1.6em Georgia,Cambria,'Times New Roman',Times,serif;">
	<li>information provided by yourself</li>
</ul>
<p>
This publication will however not be available through search engines. You choose which information you publish. You could be traced with this information. Upon request we can ensure the anonymity of published information. 
</p>

<h2>Providing Data to Third Parties</h2>
<p>
Your data are expressly not provided to third parties.
</p>

<h2>Security</h2>
<p>
We take security measures to reduce misuse of and unauthorised access to personal data. We do keep statistics on our website, giving us access to individual data. However, we only access individual data insofar as necessary for the purposes set out in this statement. 
</p>

<h2>Third-party Websites</h2>
<p>
This statement is not applicable to third-party websites connected to this website through links. We cannot guarantee that these third parties will handle your personal data in a secure and careful manner. We recommend you read these websites&rsquo; privacy statements before making use of these websites.
</p>

<h2>Changes to this Privacy Statement</h2>
<p>
We reserve the right to modify this statement. We recommend that you review this statement regularly, so that you remain informed of any changes.
</p>

<h2>Inspection and Modification of your Data</h2>
<p>
You can always contact us if you have any questions regarding our privacy policy or wish to review, modify or delete your personal data.
</p>
</section>
