<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<section class="container about">
<h1>${_("Honor Code")}</h1>
<p>All users registering for a Texas Gateway course must agree to abide by the following honor code:</p>
<ul>
<li>I will maintain only one user account and not let anyone else use my username and/or password.</li>
<li>I will not access or attempt to access any other user's account, or misrepresent or attempt to misrepresent my identity while taking a course.</li>
<li>My answers to course assignments, including but not limited to homework, quizzes, exams, and projects, will be my own work (unless collaboration is expressly permitted).</li>
<li>I will not make answers to assignments available to anyone else (except to the extent an assignment expressly permits sharing answers). This includes answers written by me as well as answers provided by others.</li>
<li>I will not engage in any activity that would dishonestly improve my results or dishonestly improve or hurt the results of others.</li>
</ul>
<p><em>Effective Date: January 22, 2016</em></p>
<p>CHANGING THE HONOR CODE</p>
<p>TEA reserves the right to modify this Honor Code. Any changes to this Honor Code will be effective upon posting on this page, with an updated effective date. By accessing the Site after any changes have been made, you signify your agreement on a prospective basis to the modified Honor Code and any changes contained therein. Be sure to return to this page periodically to ensure familiarity with the most current version of this Honor Code.</p>
</section>
