<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_("FAQ")}</title></%block>

<section class="container about">

  <section class="faq">
    <section class="responses">
      <section id="the-organization" class="category">
        <h2>FAQ</h2>
        <article class="response">
          <h3>How do I sign up for a course?</h3>
          <p>Simply create an account and then register for the course of your choice. Choose <a href="/register">Register Now</a> to get started.</p>
          <br />

          <h3>What are the requirements for taking an online course on this system?</h3>
          <ul>
            <li><p>The courses work best with current versions of Chrome, Firefox or Safari, or with Internet Explorer version 10 or above.</p></li>
            <li><p>Adobe Flash player 10.</p></li>
          </ul>
          <br />
          
          <h3>Who do I contact if I experience a technical issue while taking an online course?</h3>
          <p>Email <a href="mailto:onlinetraining@intersystems.com">onlinetraining@intersystems.com</a>.</p>
          <br />
          
          <h3>Who do I contact if I have a question about the content of a course?</h3>
          <p>Email <a href="mailto:onlinetraining@intersystems.com">onlinetraining@intersystems.com</a>.</p>
          <br />
          
          <h3>What is the cost of taking an online course?</h3>
          <p>The initial online courses are offered free of charge. InterSystems Corporation reserves the right to change this policy in the future. </p>
          <br />
          
          <h3>How do I suggest new topics?</h3>
          <p>Email your suggestions to: <a href="mailto:onlinetraining@intersystems.com?subject=Online Course Suggestion">onlinetraining@intersystems.com</a>.</p>
          <br />
          
          <h3>Is there a way for me to be notified when new courses are added to the system? </h3>
          <p>You can sign up for our <a href="http://visitor.r20.constantcontact.com/d.jsp?llr=b57xixbab&p=oi&m=1101366293441&sit=xwlcxhtbb&f=443935f5-50e5-4b86-be84-f0fe4339bbe2">mailing list</a> to receive updates about InterSystems Learning Services initiatives. </p>
          <br />
          
          <h3>Can I download a copy of the Caché to use to follow along with the courses? </h3>
          <p>You can download a free single user license of Caché from the <a href="http://www.intersystems.com/library/software-downloads/">Software Downloads</a> page on our website. Supported customers can also download pre-released versions of Ensemble and HealthShare from the same link using their WRC login.
            <br />
            <br />
            Copies of Ensemble and HealthShare are not available in a free trial version. 
          </p>
        </article>
      </section>

    </section>

  </section>
</section>
