<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1>${_("Contact")}</h1>
<p>Have a question? Take a look at our <a href="http://texascourses.org/help">Help page</a> for answers to frequently asked questions.
</p>

<p>If you need additional assistance or if you would like to give us feedback, please contact us at:<br /><a href="mailto:txgateway@tea.texas.gov">txgateway@tea.texas.gov</a>
</p>
</section>
