<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1>${_("Contact")}</h1>
<p>Have a question? Take a look at our <a href="http://support.texascourses.org/hc">Help Center</a> for answers to frequently asked questions.
</p>

<p>If you need additional assistance or if you would like to give us feedback, please contact us at:</p>
<p>
  <strong>email</strong>: <a href="mailto:support@texascourses.org">support@texascourses.org</a><br />
  <strong>toll-free phone</strong>: (844) 292-5046</p>
</p>
</section>
