<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="landing-hero">
  <div class="container-bs">
    <div class="landing-hero__content">
      <div class="landing-hero__content__text">
        <h1>${_("Contact Us")}</h1>
      </div>
    </div>
  </div>
</section>

<section class="container about about-wrapper">
  <p>For more information about CommCare please visit <a href="http://www.commcarehq.org">www.commcarehq.org</a> or contact <a href="mailto:information@dimagi.com">information@dimagi.com</a><p>
  <p>For assistance on using CommCare Academy please contact <a href="mailto:commcare-academy@dimagi.com">commcare-academy@dimagi.com</a><p>
</section>
