<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='../static_content.html'/>

<%inherit file="../main.html" />

<%block name="title"><title>${_("FAQ")}</title></%block>

<section class="container about">

  <section class="faq">
    <section class="responses">
      <section id="the-organization" class="category">
        <h2>${_("Getting Help")}</h2>
        <article class="response">
          <h3>Who can I ask for help?</h3>
          <p>Please email <a href="mailto:onlinetraining@intersystems.com">OnlineTraining@intersystems.com</a> with your questions.</p>
        </article>
      </section>

    </section>

  </section>
</section>

%if user.is_authenticated():
<%include file="../signup_modal.html" />
%endif
