<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<section class="container about">
<h1>${_("About")}</h1>
<p>Gateway Courses offer statewide online professional development opportunities for Texas teachers. Through Gateway Courses, teachers have anytime, anywhere access to trainings that offer</p>
<ul>
<li>extensive instruction in the TEKS, the ELPS, and the RtI model;</li>
<li>strategies on providing effective instructional support for English language learners, Gifted and Talented students, and struggling students; and</li>
<li>CPE credits and certifications.</li>
</ul>
<p>The courses are all TEA-approved and available at no cost to practicing and pre-service teachers across the state. Teachers simply register to get instant access to courses where they can watch instructional videos, engage in interactive activities, participate in discussions, and earn CPE credits.</p>
<p><a href="http://texascourses.org/register">Create your Gateway Courses account and get started today! </a>

<p>Have questions? Visit our <a href="http://texascourses.org/help">Help page</a> for tips and answers to frequently asked questions. </p>
</section>
