<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<section class="container about">
<h1>${_("Privacy Policy")}</h1>
<p>This privacy policy (&#147;Privacy Policy&#148;) tells you about the information that Texas Eduction Agency (&#147;TEA,&#148; &#147;we&#148; or &#147;our&#148;) collects in connection with the operation of its Gateway Courses website, (the &#147;Site,&#148; which consists of all content and pages located within the texascourses.org web domain). 
</p>
<p>This Privacy Policy only applies to information that we collect through the Site and does not apply to information that we may collect from you in other ways (for example, this policy does not apply to information that you may provide to us over the phone, by fax or through conventional mail). In addition, please note that your education records are protected by the Family Educational Rights and Privacy Act (&#147;FERPA&#148;) to the extent FERPA applies.</p>

<p>YOUR ACCEPTANCE OF THIS PRIVACY POLICY AND REVISIONS TO THIS PRIVACY POLICY<br />
By using the Site, you agree to this Privacy Policy. If you do not agree to this Privacy Policy, you may not use the Site. The Company reserves the right, in our discretion, to change, modify, add or remove portions of this Privacy Policy from time to time, without prior notice to you. All revisions will be posted to the Site. By accessing the Site after any changes have been made, you signify your agreement on a prospective basis to the modified Privacy Policy and any changes contained therein. Be sure to return to this page periodically to ensure familiarity with the most current version of this Privacy Policy.</p>

<p>USERNAMES AND POSTINGS<br />
Comments or other information posted by you to our forums, wikis or other areas of the Site designed for public communications or communications among registered class members may be viewed and downloaded by others who visit the Site. For this reason, we encourage you to use discretion when deciding whether to post any information that can be used to identify you to those forums (or other public or classwide areas).
</p>

<p>PERSONALLY IDENTIFIABLE INFORMATION<br />
As used in this Privacy Policy, Personally Identifiable Information (&#147;PII&#148;) means any information about yourself that you may provide to us when using the Site, such as when you sign up for a user account, which may include (but is not limited to) your name and contact information. We endeavor to limit the collection of PII to what we need with respect to specific Site activities in order to satisfy business, legal, or regulatory requirements. 
</p>

<p>INFORMATION WE COLLECT AND HOW WE USE IT<br />
We collect information, including PII (described above), when you sign up for a user account, participate in online courses, send us email messages and/or participate in our public forums. We also collect certain usage information about participant performance and patterns of learning. 
</p>
<p>TEA stores only the information provided to us by users. As a custodian of PII, TEA complies with the federal Family Educational Rights and Privacy Act (FERPA), to the extent FERPA applies, in its handling of education records. Upon termination or cancellation of a Customer contract, TEA will delete all PII data from its records. TEA may retain aggregate, non-identifying usage information for the purpose of reporting, analytics, and improving TEA&#146;s products and services.</p>

<p>Upon our collection of your PII, TEA may use such information internally, separately or in combination with pre-existing information, for the following purposes:</p>
<ul>
<li>To provide any requested services;</li>
<li>To troubleshoot problems with the Site, or any services, as requested;</li>
<li>To improve our products;</li>
<li>To customize your experience, content or homepage on the Site;</li>
<li>To enforce our Terms of Use;</li>
<li>To generate aggregate statistical studies and conduct research; or</li>
<li>To provide any legitimate business service or product.</li>
</ul>
<p>TEA does not provide, sell or lend any personally identifiable information to any third party.</p>

<p>COOKIES<br />
Cookies help us in many ways to make your use of the Site more enjoyable and meaningful, such as understanding usage patterns and improving functionality of the Site. Cookies are text information files that your web browser places on your computer when you use a website. TEG may use such &#147;cookie&#148; technology to obtain non-personal information from you. 
</p>

<p>DATA SHARING AND TRANSFER<br />
TEG Technologies, LLC (&#147;TEG&#148;) will provide data and the personal identifiable information on users and the analysis of trends for all users on an aggregate basis to some or all of the following (collectively, the &#147;Customer&#148;): the TEA, a user&#146;s school district, or a user&#146;s school. TEG provides such information as a service to its Customer but it does not control the use of such data after it provides it to the Customer. Consequently, TEG takes no responsibility or liability for the use of such data after it provides it to the Customer.
</p>
<p>Neither the TEA nor TEG provides, sells or lends any personally identifiable information to any third party.</p>
<p>TEA reserves the right to disclose your personally identifiable information based on the good faith belief that such action is necessary or appropriate to: (a) protect and defend the rights or property of TEA, or (b) act in urgent circumstances to protect the safety or security of the public or of users of TEA&#146;s services and/or the Site.</p>
<p>Your personal information will generally be stored in TEG&#146;s databases, which are located in the United States. Our policy is to ensure that your information is always granted the same level of protection no matter where it is stored. </p>

<p>LINKS TO OTHER WEBSITES<br />
The Site contains links to websites published by third parties, including other content providers. These other websites are not under our control, and you acknowledge and agree that we are not responsible for the collection and use of your information by such websites, unless we have otherwise indicated in this Privacy Policy. We encourage you to be aware when you are be redirected to a third party website and review the privacy policies of each website you visit and use. 
</p>

<p>SECURITY<br />
TEG has a program designed in concert and with the approval of the TEA to protect PII in its possession or control. This is done through a variety of privacy and security policies, processes, and procedures, including administrative, physical, and technical safeguards that reasonably and appropriately protect the confidentiality, integrity, and availability of the PII that it creates, receives, maintains, or transmits. While the security of users&#146; PII is of the utmost importance to TEG, no method of transmission over the Internet, or method of electronic storage, is 100&#37; secure; and therefore, TEG cannot guarantee its absolute security.  
</p>

<p>PRIVACY CONCERNS<br />
If you have privacy concerns, have disclosed data you would prefer to keep private, or would like to access the information we maintain about you, please contact us at <a href="mailt:support@texascourses.org">support@texascourses.org</a>. 
</p>
</section>
