<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1>${_("Help and FAQs")}</h1>
<p><strong>GETTING STARTED</strong></p>

<ol>
<li><strong>Create your Gateway Courses account.</strong><br />
To create your account, complete this <a href="http://www.texascourses.org/register">registration form</a>. When you submit the form, you will receive an activation email. You must click on the link in that email to activate your account and complete the registration process.</li>
<li><strong>Find courses.</strong><br />
Once your account has been activated, you can <a href="http://www.texascourses.org/login">sign in</a> to your account by clicking on the <em>Sign in button</em> located in the top right corner of the page. After signing in, click on the <strong>Find courses now!</strong> button or go to <strong>Search Courses</strong> in the upper right corner of the page. Both will take you to this search page where you can find courses to enroll in.</li>
<li><strong>Enroll in a course.</strong><br />
If you are interested in a course, click on it to view more information about the course. To enroll, click on the large <strong>Register for [Course ID] button</strong> under the course title.</li>
<li><strong>Begin taking your course.</strong><br />
Once you enroll in a course, it will be added to the list of current courses you see every time you sign into your account. Click <strong>View Course</strong> to enter the course. When you first enter the course, you will be taken to a <strong>Course Info</strong> page that offers important course updates, news, and handouts. To begin the course, click on the <strong>Courseware</strong> tab in the top navigation and start working your way through the lessons in the left side menu.</li>
</ol>

<p><strong>COURSE NAVIGATION</strong></p>

<p>All course content is located in the <strong>Courseware</strong> tab. Once you enter the <strong>Courseware</strong> tab, the navigation for the course lessons will be located on the left side of the page. Click on the title of the first lesson to begin. Each lesson contains several sections, or content pages. You can use the arrows at the top and the bottom of the content page to navigate between sections. When you have reached the last section of the lesson, the forward arrow will be grayed out and you will not be able to move forward. At that point, you should move to the next lesson by clicking on it in the left navigation.</p>
<p>If you exit the course and later re-enter it, you will receive a message that reminds you of which lesson you were most recently in. Click on the hyperlinked lesson title to go to place you left off. You can re-enter lessons you have already viewed at any time. Note that when you re-enter a lesson, you will always be taken to the section you have most recently viewed.</p>

<p><strong>DISCUSSION</strong></p>

<p>Some courses include discussion prompts throughout the course lessons. When you reach a discussion, click <strong>Show Discussion</strong> to view the discussion prompt that has been entered by the course instructor. If you click <strong>Expand discussion</strong> below that prompt and select <strong>Add A Response</strong>, a text field will appear under the words <strong>Post a response</strong>. Type your response in the field and then press the <strong>Submit</strong> button. (<em>DO NOT click the New Post button to submit a response. This will add a new discussion prompt and may confuse your fellow coursemates.</em>)</p>
<p>To edit or delete your response, click on the ... icon next to your response and select <strong>Edit</strong> or <strong>Delete</strong> from the dropdown. If you would like to receive updates on all of the activity related to the discussion, click the star icon next to the post. If you’d like to revisit a discussion, you can enter the <strong>Discussion</strong> tab in the top navigation.</p>

<p><strong>TESTS AND QUIZZES</strong></p>
<p>Many courses contain some form of assessment, whether it’s one final test or several mini-quizzes throughout the course lessons. To take an assessment, answer all of the questions presented. When you are finished, click the <strong>Check</strong> button to submit your test. Once you submit your answers, you will be able to see your score and graded test.</p>
<p>If you begin an assessment but cannot finish it at that time, click the Save button at the bottom of the page. This will allow you to save your answers without submitting your test for a grade. You can then re-enter the test and resume from where you left off.</p>
<p>In some courses, you will be allowed to retake a test. To retake a test, enter the test again and press the Reset button at the bottom of the page. Note that you will usually have a limited number of opportunities to retake the test, so review the course material carefully before attempting the test again.</p>

<p><strong>TRACKING PROGRESS</strong></p>
<p>To track your progress in a course, enter the <strong>Progress</strong> tab in the top navigation. The progress page shows your grade on various assignments. At the top of the page, you will see your average score for each assignment type and will also see your current course total. Note that the &#147;average&#148; is the percentage of points you have earned so far for a particular assignment type out of the total possible points for all assignments of that type. As you complete more of the course assignments, you should see your averages increase. You can find a breakdown of all quiz scores below the averages chart.</p>

<p><strong>CERTIFICATES</strong></p>
<p>Once you have completed all course requirements and received a passing grade, you will earn a certificate of completion. When you have earned your certificate, you will receive a message on your course <strong>Progress</strong> page. Press the <strong>Request Certificate</strong> button. Once your certificate is ready, it will appear on your course <strong>Progress</strong> page and on your Gateway Courses dashboard. Click <strong>Download Your Certificate</strong> to download, save, and print your certificate.</p>

<p><strong>FAQs</strong></p>
<p><strong>What browsers are supported by Gateway Courses?</strong><br />
Current versions of Chrome, Firefox, Safari or Internet Explorer version 9 and above work best.</p>

<p><strong>Can I access Gateway Courses on my mobile device?</strong><br />
Yes, courses work with most major mobile devices, including smartphones and tablets.</p>

<p><strong>What if I have technical trouble with registration, login, or course access?</strong><br />
Many problems with registration, login, or access to courses are caused by browser issues. Here are some things to try:
<ol>
<li>Switch to a current version of Chrome, Safari or Firefox.</li>
<li>Check your browser settings to ensure both JavaScript and cookies are
enabled.</li>
<li>Clear your browser's cache.</li>
</ol>
<p><strong>What if I forget my password?</strong><br />
Click on the <strong>Forgot password?</strong> link below the password field on the <a href="http://www.texascourses.org/login">sign in</a> page. Enter your email address when prompted and we will send you instructions for setting a new password.</p>

<p><strong>What if I did not receive an activation email or password reset email?</strong><br />
If you did not receive an activation email or password reset email, it may be because of the following:
<ol>
<li>There was a typo in your email address.</li>
<li>Your spam filter may have caught the email. Please check your spam folder.</li>
<li>You may be using an older browser. We recommend downloading the current version of Firefox or Chrome.</li>
<li>JavaScript is disabled in your browser. Please check your browser settings and confirm that JavaScript is enabled</li>
<li>You have not successfully registered a Gateway Courses account. Please try registering again with the same email address. (If an account already exists, you'll see an error regarding a duplicate email address.)</li>
</ol>
<p>If you continue to have problems activating your account, we recommend that you try creating a new account.</p>

<p><strong>What if I have problems with the display?</strong><br />
The problems may be caused by your browser or settings. Try the following:
<ol>
<li>Switch to a current version of Chrome, Safari or Firefox.</li>
<li>Check your browser settings to ensure both JavaScript and cookies are
enabled.</li>
</ol>
<p><strong>When does my course start and/or finish?</strong><br />
You can find the start date and course duration for each course on its course description page. If you are registered for a course, you'll also see its start date listed in the course information under &#147;Current Courses&#148; on your dashboard.</p>

<p><strong>What does it mean if the start date is &#147;Anytime, Self-Paced&#148;?</strong><br />
Many Gateway courses are self-paced. Self-paced courses can be taken anytime after the course is released. You can move through the course at your own pace, completing the lessons as quickly or as slowly as you like.</p>

<p><strong>How do I register for a course?</strong><br />
Click on the course you are interested in to view more information about the course. Under the course title, you will see a button with <strong>Register for [Course ID]</strong> on it. Click that button to complete the registration process.</p>

<p><strong>How do I access the course I am registered for?</strong><br />
Sign into your Gateway Courses account at <a href="http://www.texascourses.org/login">www.texascourses.org/login</a>.  This will take you to your dashboard, where you will see a list of your courses. Click <strong>View Course</strong> next to the course you would like to access.</p>

<p><strong>How much work will I have to do to pass my course?</strong><br />
Courses have different assignments and each will take a different amount of time to complete. CPE hours for each course are usually included on the course description page. Once you are enrolled in a course, you can refer to the <strong>Course Info</strong> tab and course syllabus for more details about the work required.</p>

<p><strong>How can I find my course discussion forum posts?</strong><br />
You can locate all posts that you have added and contributed to in the discussion forum of your course by going to the <strong>Discussion</strong> tab and entering your username in the search bar. You will then see the options to view all of your posts.</p>

<p><strong>What is the difference between the &#147;Check&#148; and &#147;Save&#148; buttons in course assessments?</strong><br />
The <strong>Check</strong> button submits your work for grading, while the <strong>Save</strong> button only saves your work for you to come back to edit later. The latest submission you make is the one used for your grade. Once you submit a correct answer, you do not need to make any other submission.</p>

<p><strong>Why are the averages on my Progress page so low?</strong><br />
The <strong>Progress</strong> page shows your grade on various assignments. The &#147;average&#148; is the percentage of points you have earned so far for a particular assignment type out of the total possible points for all assignments of that type. As you complete more of the course you should see your averages increase.</p>

<p><strong>How are certificates determined?</strong><br />
Each student who receives a passing grade for a course will receive a certificate. The assignments and passing grade are different for each course - check the course description page or the course syllabus to learn more about how to pass a specific course.</p>

<p><strong>How do I unenroll from a course?</strong><br />
To unenroll, find your course in your dashboard. Click the small settings gear next to the <strong>View Course</strong> button and select <strong>Unenroll</strong>. Then click the &#147;Unenroll&#148; button in the confirmation message that appears.</p>



<p><strong>What if my question isn&#146;t answered here?</strong><br />
Contact us by submitting your question to <a href="mailto:txgateway@tea.texas.gov">txgateway@tea.texas.gov</a>.</p>
