## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='../../static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>
<% current_year = datetime.now().year %>

<footer>
      <div class="container-bs footer__container">
        <div class="footer__content">
          <div class="footer__legal">
            © 1996-${current_year}  InterSystems Corporation, Cambridge, MA. All Rights Reserved. 
          </div>
          <ul class="footer__links">
            <li><a href="https://learning.intersystems.com/tos">Terms of Service</a></li>
            <li><a href="http://www.intersystems.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="https://learning.intersystems.com/faq">Main FAQ</a></li>
            <li><a href="mailto:onlinelearning@intersystems.com">Contact us</a></li>
          </ul>
        </div>
        <div class="footer__poweredby">
          <span>Built on:</span>
          <a href="http://open.edx.com" target="_blank" class="footer__poweredby__logo"><img src="${static.url('isc-va/images/openedx-logo.svg')}" alt="Open edX"></a>
        </div>
      </div>
      <div class="container-bs footer__edx-legal">
        edX, Open edX and the edX and Open edX logos are trademarks or registered trademarks of edX Inc.
      </div>
</footer>

    <!-- Include jQuery mobile -->
    <script src="${static.url('isc-va/js/jquery.mobile.custom.min.js')}"></script>
    <!-- Include jQuery easing -->
    <script src="${static.url('isc-va/js/jquery.easing.min.js')}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="${static.url('isc-va/js/bootstrap.min.js')}"></script>
    <!-- Custom base JavaScript -->
    <script src="${static.url('isc-va/js/microsite-base.js')}"></script>

