{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}You’re receiving this email because you requested a password reset for your Gateway Courses account. You may now sign in by clicking this link or copying and pasting it to your browser:{% endblocktrans %}

{% block reset_link %}
{{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

{% trans "This link can only be used once to sign in and will lead you to a page where you can set your password. It expires after one day and nothing will happen if it's not used." %}

{% trans "Need additional assistance? Visit our Help page for tips and answers to frequently asked questions: www.texascourses.org/help" %}

{% endautoescape %}
