.xmodule_display.xmodule_CapaModule div.problem .action .save, .xmodule_display.xmodule_CapaModule div.problem .action .check, .xmodule_display.xmodule_CapaModule div.problem .action .show, .xmodule_display.xmodule_CapaModule div.problem .action .reset, .xmodule_display.xmodule_CapaModule div.problem .action .hint-button {
  @include transition(all 0.3s ease-in-out);
  border-radius: $buttons-border-radius;
  height: auto;
  padding: 1rem 1.5rem;
  margin: 0 1rem 1rem 0;
  text-shadow: none;
  box-shadow: none;
  border: 0.1rem solid #d9d1d1;

  &:hover, &:focus {
    background-color: #d9d1d1;
    border: 0.1rem solid darken(#d9d1d1, 20%);
  }
}

.course-content {

  .problem {

    .action {

      button {

      }
    }
  }
}
