.modal .inner-wrapper form input[type="email"] {
	background: #fff;
	display: block;
	height: 45px;
	margin-bottom: 20px;
	width: 100%;
	color: #000;
}

.modal .inner-wrapper form input[type="password"] {
	background: #fff;
	display: block;
	height: 45px;
	margin-bottom: 20px;
	width: 100%;
	color: #000;
}

.modal .inner-wrapper form input[type="text"] {
	background: #fff;
	display: block;
	height: 45px;
	margin-bottom: 20px;
	width: 100%;
	color: #000;
}

.modal .inner-wrapper form textarea {
	background: #fff;
	display: block;
	height: 45px;
	margin-bottom: 20px;
	width: 100%;
	color: #000;
}