.landing-hero {
	padding: 100px 30px;
	background-image: $landing-hero-bg-image;
	background-position: center center;
	background-size: cover;
	background-color: $brand-primary-color;

	&__content {

		& h1 {
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			@include sans-serif-black;
			font-size: 48px;
			margin: 0;
			color: #fff;
			text-align: left;
		}
	}
}