<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='../../../static_content.html'/>

<%inherit file="../../../main.html" />

<%block name="title"><title>About UTAustinX Professional Education</title></%block>

<section class="container about">
  <nav>
    <a href="${reverse('about')}" class="active">${_("About Us")}</a>
    <a href="/faq">${_("FAQ and Posting Guidelines")}</a>
  </nav>

  <section class="vision">
    <section class="message left">
      <div class="photo">
        <img src="${static.url('austinx/images/edX-UTAustin-LargeLogo.png')}">
      </div>
      <article>

      <h2>About UTAustinX Professional Education</h2>
      <p>
UTAustinX Professional Education is offering high-quality learning experiences for institutions and organizations seeking rigorous and certified training for their employees and for individuals seeking to advance their own careers.
</p><p>
UTAustinX Professional Education facilitates Continuing Education Units (CEUs) through our courses offered. UT Austin faculty members create and teach every course and add their own brand of excellence to every offering. Students may choose one of the three CEU granting agencies listed below:
</p>
<ul style='font: 1em/1.6em Georgia,Cambria,"Times New Roman",Times,serif;'>
<li>The Center for Lifelong Engineering Education (CLEE) in the Cockrell School of Engineering for engineering CEUs</li>

<li>The Texas Executive Education in the McCombs School of Business for business CEUs</li>
<li>The Petroleum Extension Service (PETEX) at the University of Texas at Austin for oil and gas industry CEUs</li>
</ul>
<p>
Please consult with your professional organization or corporate human resources department to determine which affiliation has more value for your career. Students will be prompted at registration to decide from which organization they would like to receive CEUs.
</p><p>
University credit is not currently offered for UTAustinX Professional Education courses. Several on campus organizations offer online and distance courses for credit. Visit <a href='http://www.utexas.edu'>www.utexas.edu</a> for more information. The UT Austin website features information about undergraduate admissions, graduate admissions, and different on campus and distance education resources available.
</p>
      </article>
    </section>
  </section>
</section>

