<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='../../../static_content.html'/>

<%inherit file="../../../main.html" />

<%block name="title"><title>${_("FAQ")}</title></%block>

<%block name="js_extra">
<script src="${static.url('js/help.js')}"></script>
</%block>

<section class="container static-container about help">

  <nav>
    <a href="${reverse('about')}">${_("About Us")}</a>
    <a href="/faq" class="active">${_("FAQ and Posting Guidelines")}</a>
  </nav>

  <section class="questions">
    <section class="responses">
      <section id="ethicon_online_basics_faq" class="category">
        <h2>${_("Posting Guidelines")}</h2>
        <article class="response">
        <p>At the University of Texas at Austin, we encourage different viewpoints and opinions, and as a participant in different online media, including social media and the discussion forum, you should, too. Be respectful of others’ viewpoints. If you disagree and would like to engage in a conversation, do so cordially, logically and ethically. As always, the university’s code of ethics applies, even in the realm of social media and online networks. Keep in mind that there is no such thing as a “private” Web site. What you write from your home computer may follow you to school or work. Also keep in mind that the discussion forums will not be moderated nor monitored by the faculty or staff involved with your professional development or executive education course.</p>
        </article>
      </section>
      <section id="online_basics_faq" class="category">
        <h2>${_("Frequently Asked Questions")}</h2>
        <article class="response">
          <h3 class="question">When are courses offered?</h3>
          <div class ="answer" id="edx_basics_faq_answer_0">
          <p>
Energy Technology & Policy will run from 0000 UTC 1 November 2014 to
1159 UTC 21 November 2014. For help converting Coordinated Universal Time to your local time zone,
please consult http://www.timeanddate.com/worldclock/converter.html.
</p>
          </div>
        </article>
        <article class="response">
          <h3 class="question">How long will the course material be available online?</h3>
          <div class ="answer" id="edx_basics_faq_answer_0">
            <p>
The materials will be available to registered
and paid participants from 0000 UTC 1 November 2014 until 1159 UTC 21 November 2014.
            </p>
          </div>
        </article>
        <article class="response">
          <h3 class="question">Is the course synchronous or asynchronous?</h3>
          <div class ="answer" id="edx_basics_faq_answer_1">
            <p>
Asynchronous. However, the course does end at 1159 UTC 21 November 2014.</p>
          </div>
        </article>
        <article class="response">
          <h3 class="question">When will I get access to the course site? </h3>
          <div class ="answer" id="edx_basics_faq_answer_2">
            <p>
The course materials will be available on the course start date at 0000 UTC 1 November 2014.
            </p>
          </div>
        </article>
        <article class="response">
          <h3 class="question">How many hours per week will I have class or homework? </h3>
          <div class ="answer" id="edx_basics_faq_answer_3">
            <p>
Over three weeks, you will enjoy about 10 hours of lecture content and an additional 5 hours of quizzes, and interactive learning activities. Students are free to set their own pace based on their availability, however in order to earn a Certificate of Completion with 1.5 Continuing Education Units (CEUs) for this course, you must complete all 15 hours of course content across all 30 modules.
</p>
          </div>
        </article>
        <article class="response">
          <h3 class="question">How will I know if I earned a certificate by the end of the course? </h3>
          <div class ="answer" id="edx_basics_faq_answer_4">
            <p>
You can track your progress on the student dashboard within the edX platform. Students must achieve 100% completion before 1159 UTC on 21 November 2014 in order to receive a certificate.
            </p>
          </div>
        </article>
        <article class="response">
          <h3 class="question">Do I have to attend lectures at a scheduled time? </h3>
          <div class ="answer" id="edx_basics_faq_answer_5">
            <p>
No, lectures are pre-taped and you can follow along when you find it convenient, as long as you finish before 1159 UTC 21 November 2014. You may find it beneficial to stick to a weekly schedule, which is roughly 5 hours per week, or 1 hour per day through the work week.
            </p>
          </div>
        </article>
        <article class="response">
          <h3 class="question">Who will be participating in this course? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Prospective students include professionals in the energy sector, engineers seeking CEUs to maintain their professional license, regulators and policymakers, environmental consultants, individuals seeking jobs in the energy sector, and the general public. The cohort will include engineers, scientists, accountants, business people, financiers, attorneys, and energy enthusiasts.
</p>
          </div>
        </article>
        <article class="response">
          <h3 class="question">How do I know if this course is right for me? </h3>
          <div class ="answer" id="classes_faq_answer_1">
          <p>
Carefully review the course description on the registration page, this FAQ, and additional information available on <a href='http://www.energy101.com'>http://www.energy101.com</a>. Students are responsible for contacting their professional organization or corporate human resources department to determine if CEUs for this course are valuable to their careers.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">Who teaches Energy Technology & Policy? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
This course is taught by award-winning professor of mechanical engineering, Dr. Michael E. Webber, a full-time associate professor at the University of Texas at Austin. Additional non-academic support will be provided by the creative staff of the Webber Energy Group.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">Are there prerequisites or advance reading materials?  </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Since this course is an introductory survey, neither background experience nor advanced reading will be required for participation in this course. For students interested in brushing up on resources, units, and terms relating to the energy sector, <i>Energy 101</i>, Dr. Webber’s new course app, is available at http://www.energy101.com.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">What reference materials will participants keep at the end of the course? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
For students interested in keeping a personal copy of the content from this course, Dr. Webber has released a course app (much like an eBook) under the title <i>Energy 101</i>. More information on how to pruchase your copy can be found at http://www.energy101.com.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">Will I receive UT Austin credits?  </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Participants of Energy Technology & Policy who complete all course requirements by 1159 UTC on 21 November 2014 will receive a PDF Certificate of Completion including 1.5 CEUs from one of the below
<ul>
<li>
The Center for Lifelong Engineering Education (CLEE) at the Cockrell School of Engineering
</li>
<li>
TheTexas Executive Education at the McCombs School of Business
</li>
<li>
The Petroleum Extension Service (PETEX) at the University of Texas at Austin.
</li>
</ul>
</p>
<p>
Please consult with your professional organization or corporate human resources department to determine which affiliation has more value for your career. Students will be prompted at registration to decide from which organization they would like to receive CEUs. Read more about Texas Executive Education at <a href='http://www.mccombs.utexas.edu/ExecED'>http://www.mccombs.utexas.edu/ExecED</a> and read more about CLEE at <a href='http://lifelong.engr.utexas.edu'>http://lifelong.engr.utexas.edu</a>. Certificates will be distributed through email up to two weeks after the close of the course.</p><p>
CEUs are a nationally recognized means of recording noncredit/non-degree study. Many employers, licensing agencies, and professional associations accept them as evidence of a participant’s serious commitment to the development of a professional competence.</p><p>
CEUs are based on hours of instruction. For example: 1.5 CEU = 15 hours of instruction.
Students can request documentation that support completion such as:</p>
<ol>
<li>Course syllabus</li>
<li>Instructors vita</li>
<li>Certificate of completion including CEUs earned</li>
</ol><p>
These units may provide professional benefits but cannot be counted towards any classes or degrees at the University of Texas at Austin.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">English is not my first language; can I still participate? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Energy Technology & Policy is taught in English; however, we do not require TOEFL or other English proficiency tests for you to attend a course. It is up to you to determine your comfort level with the English language if you wish to take this course. All videos are available at different speeds when accessed through an HTML5-based video player. For more information and technical instructions on accessing this feature, visit edX platform support at https://www.edx.org/student-faq.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">Are video captions available? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Each video for this course has been transcribed and the text can be found on the right side of the video when the captions function is turned on. Synchronized transcripts allow students to follow along with the video and navigate to a specific section of the video by clicking the transcript text. Students can use transcripts of media-based learning materials for study and review.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">How do I register a group of participants? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Each participant in a group must submit his or her own registration and pay separately in order to streamline the distribution of certificates and CEUs.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">I'm completing the registration form for someone else. Can I use my email address to create the account?  </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
If you are not going to participate in the course but will be completing the regular registration form for an individual or several individuals, please do not use your own email. The course team strongly recommends that each individual registrant complete his/her own registration, because our system uses the email address as a unique identifier and username. Any future registrations will overwrite previously submitted information connected to that account.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">When will I know if I’ve been accepted into the course? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Registration is immediately processed. As long as your registration and payment are processed by 0000 UTC on 6 November 2014, you will be able to access course material. In the weeks preceding the course launch, you will receive periodic communication which can also indicate your successful registration.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">How will I receive information about the course once I've registered? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
The Energy Technology and Policy team communicates with participants via email. Once you have registered, please add energy101@edx.utexas.edu to your "trusted senders" list to ensure you receive all course-related communications. All paid registrants will receive a reminder about the course start date by Tuesday 30 September 2014.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">What is the registration deadline? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
It is highly recommended that you register as soon as possible. Registration will be accepted up until 1159 UTC on 6 November 2014, but additional time will not be allowed to complete course requirements.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">I was admitted and have paid, but cannot attend. Can I attend later instead? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Admission and fees paid cannot be deferred to a subsequent course offering. Please consider your availability before registering and note that additional course offerings will follow periodically.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">I am a college undergraduate. Can I participate? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
This course is designed for professionals, but college undergraduates are welcome to participate. Please keep in mind that CEUs cannot be applied toward any degree at the University of Texas at Austin.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">I am a high school student or a member of the general public with an interest in energy. Can I participate? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
This course is designed for professionals, but high school students and other members of the general public are welcome to participate. Please keep in mind that CEUs cannot be applied toward any degree at the University of Texas at Austin nor will participation influence admission or scholarship decisions in any way.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">How much does the program cost? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
The program fee is USD$425.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">What does it mean when I've enrolled in a course? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Enrollment means that you have registered for the course and have paid all fees associated, agreeing to the honor code, terms of service, and privacy policy.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">How should I pay? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Individual registrants must complete individual registrations and pay online when they submit the registration form.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">Are discounts available? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Discounts are not available for Energy Technology & Policy, however some professional organizations and corporations may provide reimbursement to employees completing professional education to meet mandatory requirements. Participants must contact their companies’ human resources or compliance offices directly to determine the details. Neither the Webber Energy Group, the University of Texas at Austin, the Center for Lifelong Engineering Education, Texas Executive Education, nor edX takes any responsibility for coordinating with your employer.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">Are scholarships available for this course? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Scholarships are currently not available as the course fee is already significantly reduced relative to other courses at UT Austin.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">I need to cancel. Are there any fees?  </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Please see edX Terms of Service for the cancellation policy at www.edx.org/edx-terms-service
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">Technology Requirements</h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Our course is powered by edX. For questions about how the edX platform works, please see <a href='https://www.edx.org/?q=student-faq'>https://www.edx.org/?q=student-faq</a>.  Before the course launches, you can also navigate through the edX demo course to familiarize yourself with the platform <a href='https://www.edx.org/course/edx/edx-edxdemo101-edx-demo-1038#.U_Y4Rla-XbA'>https://www.edx.org/course/edx/edx-edxdemo101-edx-demo-1038#.U_Y4Rla-XbA</a>. Participation with the demo course is not required but recommended.
</p>
          </div>
        </article>
         <article class="response">
          <h3 class="question">I have additional questions or concerns about this course or registration.  Who should I ask? </h3>
          <div class ="answer" id="classes_faq_answer_1">
<p>
Technical questions regarding the platform or access should be directed to edX directly through the contact forms at <a href='https://www.edx.org/?q=student-faq'>https://www.edx.org/?q=student-faq</a>. Both CLEE (<a href='http://lifelong.engr.utexas.edu/contact.cfm'>http://lifelong.engr.utexas.edu/contact.cfm</a> ) and Texas Executive Education (<a href='http://www.mccombs.utexas.edu/ExecED/Contact-Us'>http://www.mccombs.utexas.edu/ExecED/Contact-Us</a> ) offer very limited support only for verifying certificates. Other questions and concerns may be directed to the Energy Technology & Policy team at <a href='mailto:energy101@edx.utexas.edu'>energy101@edx.utexas.edu</a> with the consideration that a response may take several days due to the size of the class.
</p>
          </div>
        </article>
      </section>
  </section>
</section>

%if user.is_authenticated():
<%include file="../../../signup_modal.html" />
%endif
