<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='../../../static_content.html'/>

<%inherit file="../../../main.html" />

<%block name="title"><title>Learning Path: Building a Mobile Healthcare Application with FHIR and HealthShare</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    (function() {
      $(".multiple-enroll").click(function(event) {
        $("#multiple_enroll_form").submit();
        event.preventDefault();
      });

      $('#multiple_enroll_form').on('ajax:complete', function(event, xhr) {
        if(xhr.status == 200) {
          if (xhr.responseText == "") {
            location.href = "${reverse('dashboard')}";
          }
          else {
            location.href = xhr.responseText;
          }
        } else if (xhr.status == 403) {
          location.href = "${reverse('dashboard')}";
        } else {
          $('#register_error').html(
              (xhr.responseText ? xhr.responseText : 'An error occurred. Please try again later.')
          ).css("display", "block");
        }
      });

      $('a[rel=learning-path-start]').click(function(event) {
      	event.preventDefault();
      	$.ajax({
      		type: 'POST',
      		url: '${reverse("learning_path_start")}',
      		data: {"course_id": $(this).data('course-id')},
      	  complete: function( xhr, textStatus) {
      	  	if (xhr.status == 200) {
      	  		location.href = xhr.responseText;
      	  	}
      	  	else {
      	  		$('#register_error').html(
              (xhr.responseText ? xhr.responseText : 'An error occurred. Please try again later.')
          		).css("display", "block");
      	  	}
				  },
          error: function(xhr, textStatus, error) {
          	$('#register_error').html(
              (xhr.responseText ? xhr.responseText : 'An error occurred. Please try again later.')
          	).css("display", "block");
          }
        }).done(function(){console.log('done')});
      });

    })(this)
	</script>
</%block>


		<section class="learning-path-hero" style="background-image: url('${static.url('isc-va/images/learning-path-cover.jpg')}');">
			<div class="container learning-path-hero__container">
				<div class="learning-path-hero__content">
					<h3 class="learning-path-hero__meta">
						Learning path<span>|</span>7 courses
					</h3>
					<h1 class="learning-path-hero__title">
						Building a Mobile Healthcare Application with FHIR and HealthShare
					</h1>
				</div>
			</div>
		</section>

		<section class="learning-path-menu">
			<div class="learning-path-menu__container container">
				<ul class="learning-path-menu__left">
					<li class="active"><a class="page-scroll" href="#about">ABOUT</a></li>
					<li><a class="page-scroll" href="#courses">COURSES</a></li>
					<li><a class="page-scroll" href="#faq">FAQs</a></li>
				</ul>
				<ul class="learning-path-menu__right">
					<li><a href="#" class="learning-path-menu__button multiple-enroll orange">Enroll</a></li>
				</ul>
			  	<div style="display: none;">
                  <form id="multiple_enroll_form" method="post" data-remote="true"
                        action="${reverse('learning_path_enrollment')}">
                    <fieldset class="enroll_fieldset">
                      <input name="course_id" type="hidden" value="va/ISC1018/2015_1;va/ISC1010/2015_1;va/ISC1019/2015_1;va/ISC1021/2015_1;va/ISC1022/2015_1;va/ISC1023/2015_1;va/ISC1024/2015_1">
                      <!-- <input name="course_id" type="hidden" value="va/Test/Test;course-v1:edX+DemoX+Demo_Course;">-->
                    </fieldset>
                    <div class="submit">
                      <input name="submit" type="submit" value="enroll">
                    </div>
                  </form>
                </div>
			</div>		
		</section>

		<div id="register_error" name="register_error" class="message message-status message-status error"></div>

		<section class="learning-path-about container" id="about">
			<div class="col-xs-12 col-md-9 learning-path-about__main">
				<h2 class="learning-path__section-title">ABOUT THIS LEARNING PATH</h2>
				<p>This series of courses will teach you how to create a mobile healthcare application that retrieves and displays blood pressure information using HealthShare’s interoperable APIs.</p>
			</div>
			<div class="col-xs-12 col-md-3 learning-path-about__objectives">
				<h4>LEARNING OBJECTIVES</h4>
				<p>After taking this course, you will be able to:</p>
				<ul>
					<li>Retrieve patient data from an electronic medical record.</li>
					<li>Create FHIR resources from this data.</li>
					<li>Make the data available via RESTful services.</li>
					<li>Create a simple mobile app to display the patient’s results.</li>
					<li>Push the app to mobile devices.</li>
				</ul>
			</div>
		</section>

		<section class="learning-path-courses" id="courses">
			<div class="learning-path-courses__container container">
				<h2 class="learning-path__section-title">COURSES IN THIS LEARNING PATH</h2>
				<div class="learning-path-courses__content">
					<ul class="learning-path-courses__selector" role="tablist">
						<li class="active">
							<a href="#course-1" aria-controls="home" role="tab" data-toggle="tab">
								<span class="learning-path-courses__selector__number">1</span>
								<span class="learning-path-courses__selector__name">Introduction to Building a Mobile Healthcare Application with FHIR and HealthShare</span>
							</a>
						</li>
						<li>
							<a href="#course-2" aria-controls="home" role="tab" data-toggle="tab">
								<span class="learning-path-courses__selector__number">2</span>
								<span class="learning-path-courses__selector__name"> Integration Architecture: Ensemble and HealthShare</span>
							</a>	
						</li>
						<li>
							<a href="#course-3" aria-controls="home" role="tab" data-toggle="tab">
								<span class="learning-path-courses__selector__number">3</span>
								<span class="learning-path-courses__selector__name">Creating FHIR-based REST Interfaces in HealthShare</span>
							</a>
						</li>
						<li>
							<a href="#course-4" aria-controls="home" role="tab" data-toggle="tab">
								<span class="learning-path-courses__selector__number">4</span>
								<span class="learning-path-courses__selector__name">Developing a Basic UI with AngularJS and Cordova</span>
							</a>
						</li>
						<li>
							<a href="#course-5" aria-controls="home" role="tab" data-toggle="tab">
								<span class="learning-path-courses__selector__number">5</span>
								<span class="learning-path-courses__selector__name">Setting Up the Environment for Mobile Applications</span>
							</a>
						</li>
						<li>
							<a href="#course-6" aria-controls="home" role="tab" data-toggle="tab">
								<span class="learning-path-courses__selector__number">6</span>
								<span class="learning-path-courses__selector__name">Managing HealthShare AppServer</span>
							</a>
						</li>
						<li>
							<a href="#course-7" aria-controls="home" role="tab" data-toggle="tab">
								<span class="learning-path-courses__selector__number">7</span>
								<span class="learning-path-courses__selector__name">Creating RESTful Interfaces in Caché</span>
							</a>
						</li>
					</ul>
					<ul class="learning-path-courses__course">
						<!-- single course -->
						<li role="tabpanel" class="tab-pane fade in active" id="course-1">
							<div class="learning-path-courses__course__header">
								<div class="learning-path-courses__course__title">
									<span>Course 1</span>
									<h2> Introduction to Building a Mobile Healthcare Application with FHIR and HealthShare</h2>
								</div>
								<div class="learning-path-courses__course__buttons-container">
									<a rel="learning-path-start" data-course-id="va/ISC1018/2015_1" 
									href="https://va.learning.intersystems.com/courses/va/ISC1018/2015_1/courseware" class="learning-path-courses__course__button">Go to this course</a>
								</div>
							</div>
							<p class="learning-path-courses__course__description">
								Preview the entire learning path, including how HealthShare works with open architecture tools such as AngularJS, FHIR, REST, Cordova and JSON.
							</p>
							<div class="learning-path-courses__course__staff">
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/JosephDesantis.jpg')}" alt="Joseph Desantis" width="150" height="150" />
								</div>
								<div class="learning-path-courses__course__staff__content">
									<span class="staff-title">Course staff</span>
									<h4 class="staff-name">Joe DeSantis</h4>
									<p class="staff-description">Joe is Vice President of HealthShare Platforms at InterSystems. He is responsible for all aspects of the InterSystems HealthShare informatics platform, including software development, product marketing, and business development. He studied electrical engineering at the Massachusetts Institute of Technology.</p>
								</div>
							</div>
						</li>
						<!-- single course -->
						<li role="tabpanel" class="tab-pane fade" id="course-2">
							<div class="learning-path-courses__course__header">
								<div class="learning-path-courses__course__title">
									<span>Course 2</span>
									<h2>Integration Architecture: Ensemble and HealthShare</h2>
								</div>
								<div class="learning-path-courses__course__buttons-container">
									<a rel="learning-path-start"  
									   data-course-id="va/ISC1010/2015_1"
									   href="https://va.learning.intersystems.com/courses/va/ISC1010/2015_1/courseware" class="learning-path-courses__course__button">Go to this course</a>
								</div>
							</div>
							<p class="learning-path-courses__course__description">
								Learn what a HealthShare production is, and the components that make up a production (business services, business processes, business operations and adapters).
							</p>
							<div class="learning-path-courses__course__staff">
								<!-- <div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/JosephDesantis.jpg')}" alt="Joseph Desantis" width="150" height="150" />
								</div> -->
								<div class="learning-path-courses__course__staff__content">
									<span class="staff-title">Course staff</span>
									<h4 class="staff-name">Michael Brady</h4>
									<p class="staff-description">Michael is a Technical Trainer who teaches Ensemble. Starting in Technical Support, he has been at InterSystems for over 2 years.</p>
								</div>
							</div>
							<div class="learning-path-courses__course__staff">
								<!-- <div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/https://randomuser.me/api/portraits/med/women/7.jpg')}" alt="">
								</div> -->
								<div class="learning-path-courses__course__staff__content">
									<h4 class="staff-name">Sue O&#8217;Leary</h4>
									<p class="staff-description">Sue is a Technical Training Manager at InterSystems. She teaches in the classroom on Caché, Ensemble and HealthShare. She has been working at InterSystems for over 12 years.</p>
								</div>
							</div>								
							<div class="learning-path-courses__course__staff">	
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/JennyAmes.jpg')}" alt="Jenny Ames" width="150" height="150" />
								</div>							
								<div class="learning-path-courses__course__staff__content">
									<h4 class="staff-name">Jenny Ames</h4>
									<p class="staff-description">Jenny Ames is a Technical Trainer who teaches courses on Caché, Ensemble and HealthShare. With a background in programming, she loves to help others by transferring knowledge and has been doing so at InterSystems for over 5 years.</p>
								</div>
							</div>
							<div class="learning-path-courses__course__staff">	
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/LeeBurstein.jpg')}" alt="Lee Burstein" width="150" height="150" />
								</div>							
								<div class="learning-path-courses__course__staff__content">
									<h4 class="staff-name">Lee Burstein</h4>
									<p class="staff-description">Lee Burstein is a Technical Trainer who is responsible for instructional video production and maintaining our video portal web site. He has been involved in various aspects of training and video production for over 35 years.</p>
								</div>
							</div>
						</li>
						<!-- single course -->
						<li role="tabpanel" class="tab-pane fade" id="course-3">
							<div class="learning-path-courses__course__header">
								<div class="learning-path-courses__course__title">
									<span>Course 3</span>
									<h2>Creating FHIR-based REST Interfaces in HealthShare</h2>
								</div>
								<div class="learning-path-courses__course__buttons-container">
									<a rel="learning-path-start" data-course-id="va/ISC1023/2015_1" 
									href="https://va.learning.intersystems.com/courses/va/ISC1023/2015_1/courseware" class="learning-path-courses__course__button">Go to this course</a>
								</div>
							</div>
							<p class="learning-path-courses__course__description">
								Build a FHIR-based REST interface in HealthShare AppServer. Learn how to create a production, write code to get data from an EMR (in this case VistA), and put that data into FHIR resources. Expose a web service to retrieve this data.
							</p>
							<div class="learning-path-courses__course__staff">
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/PaulLomayesva.jpg')}" alt="Paul Lomayesva" width="150" height="150" />
								</div>
								<div class="learning-path-courses__course__staff__content">
									<span class="staff-title">Course staff</span>
									<h4 class="staff-name">Paul Lomayesva</h4>
									<p class="staff-description">Paul is a developer at InterSystems. In particular, he has worked on the FHIR model in HealthShare.</p>
								</div>
							</div>
							<div class="learning-path-courses__course__staff">
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/JorgedelaGarza.jpg')}" alt="Jorge de la Garza" width="150" height="150" />
								</div>
								<div class="learning-path-courses__course__staff__content">
									<h4 class="staff-name">Jorge de La Garza</h4>
									<p class="staff-description">Jorge has been a member of the InterSystems family for more than 6 years now, starting out in implementation before moving to HealthShare Development. When Jorge is not implementing FHIR for Healthshare, he enjoys cooking, cycling, salsa dancing, and craft beer. He graduated from MIT with a degree in Computer Science, though he won’t say when.</p>
								</div>
							</div>
							<div class="learning-path-courses__course__staff">
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/JennyAmes.jpg')}" alt="Jenny Ames" width="150" height="150" />
								</div>
								<div class="learning-path-courses__course__staff__content">
									<h4 class="staff-name">Jenny Ames</h4>
									<p class="staff-description">Jenny Ames is a Technical Trainer who teaches courses on Caché, Ensemble and HealthShare. With a background in programming, she loves to help others by transferring knowledge and has been doing so at InterSystems for over 5 years.</p>
								</div>
							</div>
						</li>
						<!-- single course -->
						<li role="tabpanel" class="tab-pane fade" id="course-4">
							<div class="learning-path-courses__course__header">
								<div class="learning-path-courses__course__title">
									<span>Course 4</span>
									<h2>Developing a Basic UI with AngularJS and Cordova</h2>
								</div>
								<div class="learning-path-courses__course__buttons-container">
									<a rel="learning-path-start" data-course-id="va/ISC1019/2015_1" 
										href="https://va.learning.intersystems.com/courses/va/ISC1019/2015_1/courseware" class="learning-path-courses__course__button">Go to this course</a>
								</div>
							</div>
							<p class="learning-path-courses__course__description">
								Learn how to build a simple AngularJS mobile application that calls the web service from the previous course.  Retrieve FHIR data comprising blood pressure observations for a patient and display it in a graph.
							</p>
							<div class="learning-path-courses__course__staff">
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/AndrinFoster.jpg')}" alt="Andrin Foster" width="150" height="150" />
								</div>
								<div class="learning-path-courses__course__staff__content">
									<span class="staff-title">Course staff</span>
									<h4 class="staff-name">Andrin Foster</h4>
									<p class="staff-description">Andrin is currently a Software Developer and Technical Writer at InterSystems. He has been with the company since September 2013. Prior to that he was a Software Developer in C/C++ at Saratoga Data Systems. Andrin holds a Bachelors degree in Economics and English from Case Western Reserve University. He is also a member of the MIT Hacking Medicine Team.</p>
									</div>
							</div>
							<div class="learning-path-courses__course__staff">
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/JennyAmes.jpg')}" alt="Jenny Ames" width="150" height="150" />
								</div>
								<div class="learning-path-courses__course__staff__content">
									<h4 class="staff-name">Jenny Ames</h4>
									<p class="staff-description">Jenny Ames is a Technical Trainer who teaches courses on Caché, Ensemble and HealthShare. With a background in programming, she loves to help others by transferring knowledge and has been doing so at InterSystems for over 5 years.</p>									
								</div>
							</div>
						</li>						
						<!-- single course -->
						<li role="tabpanel" class="tab-pane fade" id="course-5">
							<div class="learning-path-courses__course__header">
								<div class="learning-path-courses__course__title">
									<span>Course 5</span>
									<h2>Setting Up the Environment for Mobile Applications</h2>
								</div>
								<div class="learning-path-courses__course__buttons-container">
									<a rel="learning-path-start" data-course-id="va/ISC1021/2015_1" 
									href="https://va.learning.intersystems.com/courses/va/ISC1021/2015_1/courseware" class="learning-path-courses__course__button">Go to this course</a>
								</div>
							</div>
							<p class="learning-path-courses__course__description">
								Push a mobile application to both Android and iOS devices, using the AngularJS application from the previous course as an example.
							</p>
							<div class="learning-path-courses__course__staff">
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/StefanWittman.jpg')}" alt="Stefan Wittman" width="150" height="150" />
								</div>
								<div class="learning-path-courses__course__staff__content">
									<span class="staff-title">Course staff</span>
									<h4 class="staff-name">Stefan Wittman</h4>
									<p class="staff-description">Stefan Wittmann is a product manager and drives the strategy and technology for mobile applications and language bindings. Before joining the Product Management team, he worked as Sales Engineer in the non-HealthCare sector at InterSystems GmbH Germany. He came to InterSystems in 2006 as a student trainee responsible for the European Campus Program and worked in different HealthCare and non-HealthCare roles over the years.</p>
									<h4 class="staff-name">Lee Burstein</h4>
								</div>
							</div>
							<div class="learning-path-courses__course__staff">
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/LeeBurstein.jpg')}" alt="Lee Burstein" width="150" height="150" />
								</div>
								<div class="learning-path-courses__course__staff__content">
									<h4 class="staff-name">Lee Burstein</h4>
									<p class="staff-description">Lee is a Technical Trainer who is responsible for instructional video production and maintaining our video portal web site. He has been involved in various aspects of training and video production for over 35 years.</p>
								</div>
							</div>
							<div class="learning-path-courses__course__staff">
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/JennyAmes.jpg')}" alt="Jenny Ames" width="150" height="150" />
								</div>
								<div class="learning-path-courses__course__staff__content">
									<h4 class="staff-name">Jenny Ames</h4>
									<p class="staff-description">Jenny Ames is a Technical Trainer who teaches courses on Caché, Ensemble and HealthShare. With a background in programming, she loves to help others by transferring knowledge and has been doing so at InterSystems for over 5 years.</p>										
								</div>
							</div>
						</li>
						<!-- single course -->
						<li role="tabpanel" class="tab-pane fade" id="course-6">
							<div class="learning-path-courses__course__header">
								<div class="learning-path-courses__course__title">
									<span>Course 6</span>
									<h2>Managing HealthShare AppServer</h2>
								</div>
								<div class="learning-path-courses__course__buttons-container">
									<a rel="learning-path-start" data-course-id="va/ISC1022/2015_1" 
									href="https://va.learning.intersystems.com/courses/va/ISC1022/2015_1/courseware" class="learning-path-courses__course__button">Go to this course</a>
								</div>
							</div>
							<p class="learning-path-courses__course__description">
								Learn what is involved in managing a HealthShare AppServer system. This includes a review of the product, how to install it, and common system management operations.
							</p>
							<div class="learning-path-courses__course__staff">
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/JohnPaladino.png')}" alt="John Paladino" width="150" height="150" />
								</div>
								<div class="learning-path-courses__course__staff__content">
									<span class="staff-title">Course staff</span>
									<h4 class="staff-name">John Paladino</h4>
									<p class="staff-description">John is the VP of Client Services. He has a passion for helping people, particularly clients and employees. He was an early client of InterSystems and has been hands-on with our technology ever since. He’s responsible for product support, quality, education, internal applications and corporate IT services.</p>
								</div>
							</div>
							<div class="learning-path-courses__course__staff">
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/LizHarding.png')}" alt="Liz Harding" width="150" height="150" />
								</div>
								<div class="learning-path-courses__course__staff__content">
									<h4 class="staff-name">Elizabeth Harding</h4>
									<p class="staff-description">Liz is a Technical Account Manager, responsible for the support relationship between customers and WRC. She has many years’ experience developing in Caché and Ensemble, implementing HealthShare systems, and has worked at InterSystems for over 5 years.</p>
								</div>
							</div>
							<div class="learning-path-courses__course__staff">
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/JennyAmes.jpg')}" alt="Jenny Ames" width="150" height="150" />
								</div>
								<div class="learning-path-courses__course__staff__content">
									<h4 class="staff-name">Jenny Ames</h4>
									<p class="staff-description">Jenny Ames is a Technical Trainer who teaches courses on Caché, Ensemble and HealthShare. With a background in programming, she loves to help others by transferring knowledge and has been doing so at InterSystems for over 5 years.</p>
								</div>
							</div>
						</li>
						<!-- single course -->
						<li role="tabpanel" class="tab-pane fade" id="course-7">
							<div class="learning-path-courses__course__header">
								<div class="learning-path-courses__course__title">
									<span>Course 7</span>
									<h2>Creating RESTful Interfaces in Caché</h2>
								</div>
								<div class="learning-path-courses__course__buttons-container">
									<a rel="learning-path-start" data-course-id="va/ISC1024/2015_1" 
									href="https://va.learning.intersystems.com/courses/va/ISC1024/2015_1/courseware" class="learning-path-courses__course__button">Go to this course</a>
								</div>
							</div>
							<p class="learning-path-courses__course__description">
								Explore REST and JSON, and learn how underlying code structures in Caché work with them. This content is more advanced and designed primarily for developers.
							</p>
							<div class="learning-path-courses__course__staff">
								<div class="learning-path-courses__course__staff__image">
									<img src="${static.url('isc-va/images/staff/BillMcCormick.jpg')}" alt="Bill McCormick" width="150" height="150" />
								</div>
								<div class="learning-path-courses__course__staff__content">
									<span class="staff-title">Course staff</span>
									<h4 class="staff-name">Bill McCormick</h4>
									<p class="staff-description">Bill McCormick is the Director of Product Management for Caché. Focusing on core application development technologies for InterSystems’ product family, McCormick works closely with customers and internal staff to ensure that products deliver the advanced technologies required by professional application developers.</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="learning-path-faq container" id="faq">
			<h2 class="learning-path__section-title">FAQs</h2>
			<div class="row learning-path-faq__list">
				<div class="col-xs-12 col-md-4 learning-path-faq__single">
					<h4>How long will the entire learning path take to complete? </h4>
					<p>The individual courses in the learning path range from 30 minutes to 2 hours. If you took the courses back to back, the entire learning track would take approximately 6 hours to complete.</p>
				</div>
				<div class="col-xs-12 col-md-4 learning-path-faq__single">
					<h4>What software/hardware is required to take an online course?</h4>
					<ul>
						<li>The courses work best with current versions of Chrome, Firefox or Safari, or with Internet Explorer version 10 or above.</li>
						<li>For the majority of the courses, there is no software that is required as we have built in simulations that will step you through what is needed to push to both an iOS and Android device.
						</li>
						<li>Adobe Flash player 10 to complete the simulations.</li>
					</ul>
				</div>
				<div class="col-xs-12 col-md-4 learning-path-faq__single">
					<h4>What do I need push the app to iOS and/or Android devices?</h4>
					<ul>
						<li>If you would like to push the application to an iOS device, you will need at least a Mac and an Apple Developer license.</li>
						<li>If you would like to push an application to an Android device, steps will be provided in this course to install the necessary software to do this.
						</li>
					</ul>
				</div>
                        </div>

			<div class="row learning-path-faq__list">
				<div class="col-xs-12 col-md-4 learning-path-faq__single">
					<h4>Who do I contact with questions?</h4>
					<p>If at any time you have questions while completing these courses, please reach out to the InterSystems Online Learning team by emailing <a href="mailto:onlinelearning@intersystems.com">onlinelearning@intersystems.com</a>.</p>
				</div>
				<div class="col-xs-12 col-md-4 learning-path-faq__single">
					<h4>Who should I contact if I experience an issue?</h4>
					<p>Contact the InterSystems Online Learning team at <a href="mailto:onlinelearning@intersystems.com">onlinelearning@intersystems.com</a>. Someone will get back to you as soon as possible!</p>
				</div>
				<div class="col-xs-12 col-md-4 learning-path-faq__single">
					<h4>Can I share this training link with a colleague?</h4>
					<p>Yes. We encourage you to invite others to take the online courses.</p>
				</div>
			</div>
           
                        <div class="row learning-path-faq__list"> 
				<div class="col-xs-12 col-md-4 learning-path-faq__single">
					<h4>How do I obtain a license to try HealthShare for myself?</h4>
					<p>Please contact your local sales representative to obtain a license. If you are not sure who this is, please contact us at <a href="mailto:onlinelearning@intersystems.com">onlinelearning@intersystems.com</a>.</p>
				</div>
                        </div>

		</section>
