html {
	font-size: 14px;
}

body {
	@include sans-serif;
	font-size: 14px;
	color: $base-text-color;
}

p {
	@include sans-serif;
	font-size: 14px;
	line-height: 130%;
}

a {
	@include transition(all 0.25s ease-in-out);
	color: $brand-primary-color;
	text-decoration: none;

	&:hover, &:focus {
		color: darken($brand-primary-color, 15%);
		text-decoration: none;
	}
}

.content-wrapper {
	padding-bottom: 0;
}


.course-info header.course-profile {
	padding: 40px 0;
	margin: 0;
	height: auto;
}

.dashboard .my-courses .course .cover, .dashboard .my-courses .course a.fade-cover {
	margin-right: 20px;
}

.container-bs {
  @include container-fixed();

	  @media (min-width: $screen-sm-min) {
	    width: $container-sm;
	  }
	  @media (min-width: $screen-md-min) {
	    width: $container-md;
	  }
	  @media (min-width: $screen-lg-min) {
	    width: $container-lg;
	  }
  }