//  Basic branding variables
//
//  ================

$navbar-style: "brand";  // set to "white" for white bg navbar scheme, or "brand" for brand color bg and white elements
$brand-primary-color: #5f1863;
$base-text-color: #414151;
$hero-bg-image: url("../images/hero-image.jpg");