//  Basic branding variables
//
//  ================

$navbar-style: "white";  // set to "white" for white bg navbar scheme, or "brand" for brand color bg and white elements
$brand-primary-color: #006ab6;
$base-text-color: #000;
$hero-bg-image: url("../themes/metalogix/images/academybanner.png");