//  Basic branding variables
//
//  ================

$navbar-style: "white";  // set to "white" for white bg navbar scheme, or "brand" for brand color bg and white elements
$brand-primary-color: #c12226;
$base-text-color: #39353A;
$hero-bg-image: url("../images/hero-image.jpg");

// #5F1863