@mixin button-positive {
	@include sans-serif;
	background-color: $brand-primary-color;
	padding: 15px 25px;
	color: #fff;
	display: inline-block;	
	@include transition(all 0.3s ease-in-out);

	&:hover, &:focus {
		outline: none;
		border: none;
		background-color: shade($brand-primary-color, 10%);
		color: #fff;
		text-decoration: none;
	}
}

@mixin button-negative {
	@include sans-serif;
	background: none;
	border: 2px solid #fff;
	padding: 15px 25px;
	color: #fff;
	display: inline-block;	
	@include transition(all 0.3s ease-in-out);

	&:hover, &:focus {
		outline: none;
		opacity: 0.7;
		text-decoration: none;
		color: #fff;
	}
}

@mixin expanding-button($padding-start, $padding-hover) {
	padding-left: $padding-start;
	padding-right: $padding-start;

	&:hover, &:focus {
		padding-left: $padding-start + $padding-hover;
		padding-right: $padding-start + $padding-hover;
	}
}