@mixin sans-serif-light {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

@mixin sans-serif {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@mixin sans-serif-semibold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

@mixin sans-serif-bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

@mixin sans-serif-black {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

@mixin sans-serif-italic {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
}

@mixin sans-serif-bold-italic {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-style: italic;
}

@mixin serif {
	font-family: Georgia, Times, 'Times New Roman', serif;
}