$header-bg: #fff;
$nav-padding: 18px 10px 0px;
$header-height: 88px;
$header-border-bottom: 2px solid #efefef;
$courseware-border-bottom-color: #efefef;
$header-logo-margin: -14px 0 0 0;
$header-logo-height: 72px;
$courseware-navigation-color: #e62f28;
$courseware-button-border-color: #9a9a9a;
$link-color: #e62f28;
$header-cta-button-border: 3px solid #e62f28;
$header-cta-button-color: #fff;
$header-cta-button-background: #e62f28;
$header-cta-button-hover-border-color: #e62f28;

$homepage__header--gradient__color--alpha: #e62f28;
$homepage__header--gradient__color--bravo: #d22c26;


// homepage bg image
$homepage-bg-image: url('../themes/synerscope/images/bg-synerscope.png');


$homepage-course-bg: #fff;
$homepage-course-border: 2px solid #9a9a9a;


$action-primary-bg: #e62f28;
$action-primary-fg: #fff;
$action-primary-focused-bg: #d22c26;


$link-color-d1: #e62f28;
$header-graphic-super-color: #e62f28;


$button-color: #e62f28;
$button-archive-color: #666;