$header-bg: #334249;
$nav-padding: 18px 10px 0px;
$header-height: 88px;
$header-border-bottom: 2px solid #FAC21E;
$courseware-border-bottom-color: #FAC21E;
$header-logo-margin: -14px 0 0 0;
$header-logo-height: 72px;
$courseware-navigation-color: #fff;
$courseware-button-border-color: #A2C14B;
$link-color: #E96222;
$header-cta-button-border: 3px solid #A2C14B;
$header-cta-button-color: #fff;
$header-cta-button-background: #A2C14B;
$header-cta-button-hover-border-color: #A2C14B;

$homepage__header--gradient__color--alpha: #E96222;
$homepage__header--gradient__color--bravo: #FAC21E;


// homepage bg image
$homepage-bg-image: url('../themes/apmasphere/images/apmasphere-header-bg.jpg');


$homepage-course-bg: #fff;
$homepage-course-border: 2px solid #E96222;


$action-primary-bg: #E96222;
$action-primary-fg: #fff;
$action-primary-focused-bg: share(#E96222, 20%);


$link-color-d1: #E96222;
$header-graphic-super-color: #E96222;


$button-color: #A2C14B;
$button-archive-color: #666;