$header-bg: #fff;
$nav-padding: 18px 10px 0px;
$header-height: 88px;
$header-border-bottom: 1px solid #4c4c4c;
$courseware-border-bottom-color: #efefef;
$header-logo-margin: -14px 0 0 0;
$header-logo-height: 72px;
$courseware-navigation-color: #006ab6;
$courseware-button-border-color: #9a9a9a;
$link-color: #006ab6;
$header-cta-button-border: 3px solid #005399;
$header-cta-button-color: #fff;
$header-cta-button-background: #005399;
$header-cta-button-hover-border-color: #004274;

$homepage__header--gradient__color--alpha: #005399;
$homepage__header--gradient__color--bravo: #004274;


// homepage bg image
$homepage-bg-image: url('../themes/metalogix/images/metalogix-bg-image.jpg');


$homepage-course-bg: #fff;
$homepage-course-border: 2px solid #9a9a9a;


$action-primary-bg: #005399;
$action-primary-fg: #fff;
$action-primary-focused-bg: #004274;


$link-color-d1: #006ab6;
$header-graphic-super-color: #006ab6;


$button-color: #006ab6;
$button-archive-color: #666;