.home {
	&>header {
		border-bottom: 1px solid rgba(0, 69, 124, 0.16000000000000003);
		background-color: #c5d9e9;
		height: auto;
		padding: 40px 0;
	}
}

.highlighted-courses .courses {

	& .course {

		& header.course-preview {
			background-image: none;
			background-color: rgba(51, 51, 51, 0.85);

			& .info-link {
				color: #fff;
			}

			&:hover {
				background-image: none;
				background-color: rgba(51, 51, 51, 0.85);

				& h2 {
					color: #fff;
				}

				& .info-link {
					color: #fff;
				}
			}

			& hgroup h2 {
				@include lato;
				color: #fff;
				text-shadow: none;

				& .course-number {
					@include lato-bold;
					color: #fff;
				}
			}

		}

		& .info {

			& .bottom {
				@include lato;
				font-size: 0.85em;
			}
		}
	}
}