<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="/isc-cmc/templates/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">${_("Terms of Use ")}</%block>

<section class="static-container tos">
  <h1>Terms of Use for Coordinate My Care Online Training</h1>
  <hr class="horizontal-divider"/>

  <div class="inner-wrapper">

<p>This website contains information which is the property of InterSystems Corporation, One Memorial Drive, Cambridge, MA 02142, or its affiliates and site-users. This website, its functions, and information are made available solely for purpose of education on the operation and use of the Coordinate My Care service. No part of this website (including the submitted information of its users) is to be used for any other purpose, and this website is not to be reproduced, copied, disclosed, transmitted, stored in a retrieval system or translated into any human or computer language, in any form, by any means, in whole or in part, without the express prior written consent of InterSystems Corporation.</p>

<p>While accessing or using this website, you agree to refrain from any conduct which is outside the stated purpose above, unlawful, malicious, abusive, fraudulent, harmful, or involves the misappropriation of any intellectual property (including streaming, downloading, or otherwise trafficking misappropriated media, software, etc.). Any failure to observe these standards of conduct may result in termination of your access privileges, sanctions through your employer, and criminal and/or civil penalties.</p>

<p>These terms may be modified from time to time without notice, and InterSystems Corporation shall have no obligation to alert you to such modifications. If you do not consent to the terms herein, you must discontinue all use of the website. YOUR CONTINUED ACCESS OR USE OF THIS WEBSITE SHALL INDICATE YOUR ACCEPTANCE OF THESE TERMS.</p>

<p>InterSystems&reg;, InterSystems Caché&reg;, InterSystems HealthShare&reg;, TrakCare, and InterSystems Ensemble&reg; are registered trademarks of InterSystems Corporation.</p>

<p>TrakCare is a registered trademark in Australia and the European Union.<br/>
All other marks, trademarks, and product names are the property of their respective vendors.
</p>

  </div>
</section>
