<%namespace name='static' file='../../../static_content.html'/>

<%inherit file="../../../main.html" />

<%!
  from django.utils.translation import ugettext as _
  from django.core.urlresolvers import reverse
  from microsite_configuration import microsite
  from courseware.courses import course_image_url, get_course_about_section
%>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  #show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
  #homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "jkIOi5bCMSo")
  show_homepage_promo_video = False
  homepage_promo_video_youtube_id = "jkIOi5bCMSo"

  show_partners = microsite.get_value('show_partners', True)
%>

<script>
  var do_redirect = null;
</script>


% if show_homepage_promo_video:

<!-- Video modal -->
<div class="modal fade modal__video-fullscreen__wrapper" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal__video-fullscreen">
    <div class="modal__video-fullscreen__container">
      <iframe src='https://www.youtube.com/embed/${homepage_promo_video_youtube_id}?rel=0&controls=0&showinfo=0' frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="modal__video-fullscreen__close">
      <a href="#" data-dismiss="modal" aria-label="Close"><i class="fa fa-remove"></i></a>
    </div>
  </div>
</div>

% endif


<!-- LMS landing page hero portion -->
  <section class="landing-hero">
    <div class="container-bs">
      <div class="landing-hero__content row">
        <div class="landing-hero__content__text col-xs-12 col-md-7">
          <p>Coordinate My Care is a clinical service that allows health and social care professionals to create urgent care plans reflecting patients' clinical needs, wishes and preferences to be shared with the urgent care providers 24/7.</p>

          % if show_homepage_promo_video:

            <a href="#" data-toggle="modal" data-target="#videoModal" class="landing-hero__content__button">View a sample video</a>

          % endif
        </div>
        <div class="landing-hero__graphic col-md-5">
          <img src="${static.url('isc-cmc/images/landing-graphic.svg')}">
        </div>
      </div>
    </div>
  </section>

  <section class="ie-warning">
    <div class="container-bs">
      <p>
        Online training from CMC is only available to users with modern browsers like <b>Chrome, Firefox, Safari, IE9 or later</b>. You can download PDF versions of each module and view module videos using the links below.
      </p>
    </div>
  </section>

  <section class="ie-courses-header">
    <div class="ie-courses-header__container container-bs">
      <h2>Modules</h2>
      <ul>
        <li>
          <a href="#cmc-system-access">CMC System Access</a>
        </li>
        <li>
          <a href="#cmc-system-training">CMC System Training</a>
        </li>
        <li>
          <a href="#clinical-guidance">Clinical Guidance</a>
        </li>
      </ul>
    </div>
  </section>

  <section class="ie-courses-group" id="cmc-system-access">
    <div class="ie-courses-group__container container-bs">
      <h2 class="ie-courses-group__title">CMC System Access</h2>
      <!-- single course -->
      <div class="ie-course row">
        <div class="col-xs-12 col-sm-4 ie-course__image">
          <img src="${static.url('isc-cmc/images/course-images/cmc-1.png')}">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-5 ie-course__info">
          <h3 class="ie-course__info__name">CMC100: Introduction to Coordinate My Care and Accessing the System</h3>
          <p>
            For all users. This module introduces the Coordinate My Care (CMC) organisation, explains the purpose of care plans and provides steps for requesting a Coordinate My Care system login.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 ie-course__resources">
          <a href="http://training.intersystems.com/samples/cmc/live/CMC100/CMC100.IntroductiontoCoordinateMyCareandAccessingtheSystem.pdf" class="ie-course__resources__pdf-button">Module content PDF</a>
        </div>
      </div>
      <!-- end of single course -->
    </div>
  </section>
  <section class="ie-courses-group" id="cmc-system-training">
    <div class="ie-courses-group__container container-bs">
      <h2 class="ie-courses-group__title">CMC System Training</h2>
      <!-- single course -->
      <div class="ie-course row">
        <div class="col-xs-12 col-sm-4 ie-course__image">
          <img src="${static.url('isc-cmc/images/course-images/cmc-8.png')}">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-5 ie-course__info">
          <h3 class="ie-course__info__name">CMC101: Logging In to the System</h3>
          <p>
            For all users. This module will instruct users how to log in to the Coordinate My Care system and change their password.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 ie-course__resources">
          <a href="http://training.intersystems.com/samples/cmc/live/CMC101/CMC101.LoggingIntotheCoordinateMyCareSystem.pdf" class="ie-course__resources__pdf-button">Module content PDF</a>
        </div>
      </div>
      <!-- end of single course -->
      <!-- single course -->
      <div class="ie-course row">
        <div class="col-xs-12 col-sm-4 ie-course__image">
          <img src="${static.url('isc-cmc/images/course-images/cmc-9.png')}">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-5 ie-course__info">
          <h3 class="ie-course__info__name">CMC102: Creating a New Care Plan</h3>
          <p>
            For clinical and administrative users. This course will familiarise users with the care plan approval process and how to create a new care plan for a patient.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 ie-course__resources">
          <a href="http://training.intersystems.com/samples/cmc/live/CMC102/CMC102.CreatingaNewCarePlan.pdf" class="ie-course__resources__pdf-button">Module content PDF</a>
          <ul>
            <li>
              Videos
            </li>
            <li>
              <a href="http://brightcove04.brightcove.com/hd2/41/90843153001/201511/90843153001_4605153993001_4601845877001.mp4">The Care Plan Life Cycle</a>
            </li>
            <li>
              <a href="http://brightcove04.brightcove.com/hd2/41/90843153001/201511/90843153001_4603497698001_4603480036001.mp4">The Home Screen</a>
            </li>
            <li>
              <a href="http://brightcove04.brightcove.com/hd2/41/90843153001/201511/90843153001_4598752625001_4598720329001.mp4">Creating a New Care Plan</a>
            </li>
            <li>
              <a href="http://brightcove04.brightcove.com/hd2/41/90843153001/201511/90843153001_4604911301001_4600277534001.mp4">Data Entry: Patient Details</a>
            </li>
            <li>
              <a href="http://brightcove04.brightcove.com/hd2/41/90843153001/201511/90843153001_4605289972001_4601343768001.mp4">Data Entry: Significant Medical Details & Medications</a>
            </li>
            <li>
              <a href="http://brightcove04.brightcove.com/hd2/41/90843153001/201511/90843153001_4601422255001_4601400775001.mp4">Data Entry: Preferences, CPR, Treatment Plan</a>
            </li>
            <li>
              <a href="http://brightcove04.brightcove.com/hd2/41/90843153001/201511/90843153001_4605238890001_4602112148001.mp4">Data Entry: Contacts</a>
            </li>
            <li>
              <a href="http://brightcove04.brightcove.com/hd2/41/90843153001/201511/90843153001_4601408046001_4601369934001.mp4">Care Plan Approval</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- end of single course -->
      <!-- single course -->
      <div class="ie-course row">
        <div class="col-xs-12 col-sm-4 ie-course__image">
          <img src="${static.url('isc-cmc/images/course-images/cmc-4.png')}">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-5 ie-course__info">
          <h3 class="ie-course__info__name">CMC103: Reviewing, Updating and Recording Death</h3>
          <p>
            For clinical and administrative users.  This module explains how to find a patient care plan and the difference between opening a care plan in View Only and Editing mode.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 ie-course__resources">
          <a href="http://training.intersystems.com/samples/cmc/live/CMC103/CMC103.ReviewingUpdatingandRecordingDeath.pdf" class="ie-course__resources__pdf-button">Module content PDF</a>
        </div>
      </div>
      <!-- end of single course -->
      <!-- single course -->
      <div class="ie-course row">
        <div class="col-xs-12 col-sm-4 ie-course__image">
          <img src="${static.url('isc-cmc/images/course-images/cmc-5.png')}">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-5 ie-course__info">
          <h3 class="ie-course__info__name">CMC104: Viewing a Care Plan</h3>
          <p>
            For urgent care users. This module provides an introduction to the Urgent Care Summary screen and navigation menus which provide access to detailed information about a patient and the patient's care plan.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 ie-course__resources">
          <a href="http://training.intersystems.com/samples/cmc/live/CMC104/CMC104.ViewingaCarePlan.pdf" class="ie-course__resources__pdf-button">Module content PDF</a>
          <ul>
            <li>
              Videos
            </li>
            <li>
              <a href="http://brightcove04.brightcove.com/hd2/41/90843153001/201511/90843153001_4605153993001_4601845877001.mp4">The Care Plan Life Cycle</a>
            </li>
            <li>
              <a href="http://brightcove04.brightcove.com/hd2/41/90843153001/201511/90843153001_4603502645001_4603480040001.mp4">Viewing a Care Plan</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- end of single course -->
    </div>
  </section>

  <section class="ie-courses-group" id="clinical-guidance">
    <div class="ie-courses-group__container container-bs">
      <h2 class="ie-courses-group__title">Clinical Guidance</h2>
      <!-- single course -->
      <div class="ie-course row">
        <div class="col-xs-12 col-sm-4 ie-course__image">
          <img src="${static.url('isc-cmc/images/course-images/cmc-3-1.png')}">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-5 ie-course__info">
          <h3 class="ie-course__info__name">CMC201: Patient Consent</h3>
          <p>
            For clinical users. This video explains the details of patient consent.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 ie-course__resources">
          <a href="http://brightcove04.brightcove.com/hd2/41/90843153001/201510/90843153001_4584396803001_4584363623001.mp4" class="ie-course__resources__pdf-button">Video</a>
        </div>
      </div>
      <!-- end of single course -->
      <!-- single course -->
      <div class="ie-course row">
        <div class="col-xs-12 col-sm-4 ie-course__image">
          <img src="${static.url('isc-cmc/images/course-images/cmc-3-2.png')}">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-5 ie-course__info">
          <h3 class="ie-course__info__name">CMC202: Mental Capacity </h3>
          <p>
            For clinical users. This video explains the details of mental capacity.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 ie-course__resources">
          <a href="http://brightcove04.brightcove.com/hd2/41/90843153001/201511/90843153001_4604786598001_4604770431001.mp4" class="ie-course__resources__pdf-button">Video</a>
        </div>
      </div>
      <!-- end of single course -->
      <!-- single course -->
      <div class="ie-course row">
        <div class="col-xs-12 col-sm-4 ie-course__image">
          <img src="${static.url('isc-cmc/images/course-images/cmc-3-3.png')}">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-5 ie-course__info">
          <h3 class="ie-course__info__name">CMC203: Advance Care Planning</h3>
          <p>
            For clinical users. This video explains the details of advance care planning.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 ie-course__resources">
          <a href="http://brightcove04.brightcove.com/hd2/41/90843153001/201511/90843153001_4604790369001_4604770445001.mp4" class="ie-course__resources__pdf-button">Video</a>
        </div>
      </div>
      <!-- end of single course -->
    </div>
  </section>


<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
