<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../../../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<section class="container about">
<br><br>
<p>While using and exploring this online education platform, you may submit or expose information that relates to you as an individual.  This “Personal Information” may be protected by various obligations rising from laws, regulations, and contractual commitments. This Privacy Policy describes how we use and protect your Personal Information. As used in this Privacy Policy, "we," "us," and "our" refer to InterSystems Corporation (“ISC”).</p>
<p>This Privacy Policy only applies to information that we collect through the Coordinate My Care Online Training System (the "Site"--including all content and web pages hosted on this domain as part of the Site).  This Privacy Policy does not apply to information collected from you through any other medium (such as by phone, email, or fax).</p>

<h3>USERNAMES AND POSTINGS</h3>
<p>Your comments or postings can viewed by other Site-users on our forums, wikis or other areas of the Site designed for public communications or communications among registered class members. Please exercise discretion when posting information that may identify or help identify you to other viewers of forums and user-submission areas.</p>

<h3>CONSENT TO PROCESSING OUTSIDE HOME COUNTRY</h3>
<p>By using our Site, or providing information to ISC, you consent to the collection, use, disclosure and retention of information in the United States and other countries and territories, for the purposes set forth in this Privacy Policy and the ISC Terms of Service. You hereby consent to the collection, use, disclosure, and retention by ISC of your Personal Information as described under this Privacy Policy, including but not limited to the transfer of your personal data between ISC and the third parties, affiliates, and subsidiaries described in this Privacy Policy. For further certainty, any consent relating to a right to transfer information referred to in this paragraph shall be deemed to include your consent to the transfer of the applicable Personal Information to a jurisdiction which may provide a different level of privacy protection than that available in your own country.</p>
<p>If you do not agree with these terms, then please do not access, browse, or register for the Site. If you choose not to provide us with certain information required to provide you with various services offered on our Site, you may not be able to establish a user account and we may not be able to provide you with those services.</p>  

<h3>PERSONAL INFORMATION</h3>
<p>As used in this Privacy Policy, "Personal Information" means any information about you that you provide to us when using the Site. Personal Information includes (but is not limited to) your name, contact information, gender, date of birth, occupation, any other identification material, and potentially your course history and educational records.</p>

<h3>INFORMATION WE COLLECT AND HOW WE USE IT</h3>
<p>We collect information when you sign up for a user account, register or participate in online courses, send us email messages and/or participate in forums on our Site. We also collect certain usage information about student performance and patterns of learning. We also track and log information about how you (a user) navigate our Site, when you visit the Site, and how you use the interface and hyperlinks.</p>
<p>We may log session, browser, and machine information when you connect to the Site, including but not limited to your IP address, operating system, and browser software, and we may determine additional user information from the IP address, such as the user's Internet Service Provider and the geographic location from which a user is connecting. </p>
<p>Some of the information above is collected through cookies (small text files placed on your computer that store information about you for the benefit of sites you access). You may be able to control how and whether your web browser accepts cookies. For more information relating to disabling or limiting your browser’s use of cookies, many browsers include documentation in their "Help" documentation accessible through the toolbar. If you reject our cookies, some functions and conveniences of this Site may not function.</p>

<h3>USE AND DISCLOSURE TO THIRD PARTIES</h3>
<p>In cases where we share or disclose your Personal Information: (1) the third party recipients are required to handle the Personal Information in a confidential manner and to maintain adequate security to protect the information from loss, misuse, unauthorized access or disclosure, alteration, and destruction; and (2) we will only disclose and share the Personal Information that is required by the<p>

<p>Some of the reasons we use Personal Information can be found below...</p>
<ul style="font-size: 14px;">
  <li>To provide, administer, and improve the courses offered over the Site.</li>
  <li>To help us improve ISC offerings, both individually (e.g., by course staff when working with a student) and in aggregate, and to individualize the experience and evaluate the access and use of the Site.</li>
  <li>For the purpose for which you specifically provided the information, for example, to respond to a specific inquiry or provide you with access to the specific course content and/or services in which you enroll.</li>
  <li>To track both individual and aggregate attendance, progress and completion of an online course, and to analyze statistics on student performance and how students learn.</li>
  <li>To monitor and detect violations of the Terms of Service and other misuses of the Site.</li>
  <li>To publish information, but not Personal Information, gathered about ISC access, use, impact, and student performance.</li>
  <li>To send you updates about online courses offered by ISC or other events, or to send you email messages about Site maintenance or updates.</li>
  <li>To archive this information and/or use it for future communications with you.</li>
  <li>To maintain and improve the functioning and security of the Site and our software, systems, and network.</li>
  <li>As otherwise described to you at the point of collection or pursuant to your consent.</li>
  <li>To authenticate your identity, if needed.</li>
  <li>To process refunds, as applicable.</li>
</ul>

<p>We may share your Personal Information with service providers or contractors that process information on the Site, transactions through the Site, Site operations, provision or administration of courses, or in connection with other aspects of ISC.
We may provide your Postings (submitted comments, course work, or other information or content) as examples or material for courses or forums or to integrate with third party services and content (such as authenticating access to videos hosted on other services). If we do re-post your Postings originally made to non-public portions of the Site, we will post them without your real name and e-mail (except with your express permission), but we may use your username without your consent.</p>
<p>We may use your Personal Information to provide opportunities for you to communicate with other users who may have similar interests or educational goals. For instance, we may recommend specific study partners or connect potential student mentees and mentors. In such cases, we may use all information collected about you to determine who might be interested in communicating with you.
Your Personal Information may be used to respond to subpoenas, court orders, or other legal process; to investigate, or prevent, or take action regarding illegal activities, suspected fraud, or security or technical issues, or to enforce our Terms of Service or this Privacy Policy; as otherwise may be required by applicable law; or to protect our rights, property, or safety or those of others.
Your Personal Information may be shared with affiliates of ISC, or with successors in the event of a merger, acquisition or reorganization, for their use consistent with this Privacy Policy.</p>
<p>Finally, we may use your Person Information as otherwise described to you at the point of collection or pursuant to your consent.
Alternatively, we may share aggregated information that does not personally identify you with the public and with third parties, including but not limited to researchers and business partners.</p>

<h3>LINKS TO OTHER WEBSITES</h3>
<p>The Site contains links to websites published by third parties, including other content providers as well as certain service providers. These other websites are not under our control, and you acknowledge and agree that we are not responsible for the collection and use of your information by such websites. We encourage you to be aware when you are be redirected to a third party website and review the privacy policies of each website you visit and use.</p>

<h3>SECURITY</h3>
<p>While ISC has implemented information security safeguards designed to protect your Personal Information in our possession or control, no method of transmission over the Internet, or method of electronic storage, is 100% secure; and therefore, ISC cannot absolutely guarantee the security of your Personal Information.</p>

<h3>CHANGING OUR PRIVACY POLICY</h3>
<p>Please note that we review and may make changes to this Privacy Policy from time to time. By accessing the Site after any changes have been made, you signify your agreement on a prospective basis to the modified Privacy Policy and any changes contained therein. In case you miss a notification of changes to this Privacy Policy, be sure to return to this page periodically to ensure familiarity with the most current version of this Privacy Policy.</p>

<h3>PRIVACY CONCERNS</h3>
<p>If you have privacy concerns, have disclosed data you would prefer to keep private, or would like to access the information we maintain about you, please contact us at <a href="mailto:coordinatemycare@nhs.net">coordinatemycare@nhs.net</a>.</p>




</section>
