<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../../../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1>${_("FAQ")}</h1>
<br><br>
<h3>How do I sign up for a course?</h3>
<p> Simply create an account and then register for the course of your choice. Choose Register Now to get started.</p>
<h3>What are the requirements for taking an online course on this system?</h3>
<p> The courses work best with current versions of Chrome, Firefox or Safari, or with Internet Explorer version 9 or above.</p>
<h3>Who do I contact if I experience a technical issue while taking an online course? </h3>
<p>Email <a href="onlinetraining@intersystems.com">onlinetraining@intersystems.com</a>.</p>
<h3>Who do I contact if I have a question about the content of a course? </h3>
<p>Email <a href="CMC_training@nhs.net">CMC_training@nhs.net</a>.</p>
<h3>Do I need to have a CMC login to complete the training?</h3>
<p> No. The training can be completed without a CMC login.</p>
<h3>Will I be given a CMC login when I register for training?</h3>
<p> No. CMC logins must be requested separately. Email <a href="CMC_training@nhs.net">CMC_training@nhs.net</a>.</p>
</section>
