header.global {
	height: $header-height;
	border-bottom: $header-border-bottom;

	nav {
		padding: $nav-padding;
	}

	h1.logo {
	}
}

.header-logo {
	height: $header-logo-height;
	width: 100%;
	margin: $header-logo-margin;
}

header.global-new .nav-courseware li a.nav-courseware-button {
	border: $header-cta-button-border;
	color: $header-cta-button-color;
	background: $header-cta-button-background;

	&:hover {
		border: $header-cta-button-border;
		border-color: $header-cta-button-hover-border-color;
		color: $header-cta-button-color;
		background: $header-cta-button-background;
		opacity: 0.8;
	}
}


