.metalogix--custom-index-block {
  position: relative;
  background-position: center;
  background-size: cover;
  @include display(flex);
  @include flex-grow(1);
  min-height: 70vh;
  padding-top: 9rem;
  padding-bottom: 9rem;

  &:after {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 1rem;
		@include linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 1));
		content: ' ';
		opacity: 0.2;
		z-index: 199;
	}

  &__container {
    @include display(flex);
    @include align-items(center);

    @media (max-width: $screen-sm-max) {
      @include flex-wrap(wrap);
    }
  }

  &__content {
    color: #fff;
    width: 50%;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }

    h1 {
      @include primary-font-bold;
      line-height: 120%;
      position: relative;
      opacity: 0;
      top: 10rem;
      @include transition(all 1s ease-in-out);
      font-size: 6.4rem;
      margin: 0 0 3rem;
      color: #fff;

      @media(max-width: $screen-xs-max) {
        font-size: 4rem;
      }

      &.loaded {
        top: 0;
        opacity: 1;
      }
    }

    .content-text {
      @include transition(all 0.3s ease-in-out);
      opacity: 0;
      font-size: 2rem;

      @media(max-width: $screen-xs-max) {
        font-size: 1.6rem;
      }

      &.loaded {
        opacity: 1;
      }

      p {
        margin: 2rem 0;

        a {
          @include primary-font-black;
          color: #fff;

          &:hover, &:focus {
            opacity: 0.7;
            color: #fff;
          }
        }
      }
    }
  }

  &__wistia {
    width: 50%;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }
}

.content-wrapper.metalogix-index {
  @include display(flex);
  @include flex-direction(column);
}
