.nxp--hero {

  &__container {
    text-align: left;
    background-position: center center;
    background-size: cover;
    background-color: $brand-primary-color;
    line-height: 150%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  h1 {
    @include primary-font-bold;
    font-size: 4.8rem;
    margin: 0 0 2rem;
    color: inherit;
    text-transform: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    @media(max-width: $screen-sm-max) {
      font-size: 4.2rem;
    }
  }

  h4 {
    @include primary-font;
    font-size: 1.6rem;
    margin: 0;
    color: inherit;
    opacity: 0.85;
    max-width: 82rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  &__cta-container {
    margin: 3.5rem 0 0;

    & .a--cta {
      background-color: $cta-button-bg;
      border: $navbar-button-border;
      display: inline-block;
      padding: 1.5rem 2rem;
      font-size: 1.8rem;
      margin: 1rem 1rem 1rem 0;
      @include primary-font;
      color: #fff;
      @include button_radius;
      @include button_splash($buttons-border-radius);

      &:hover, &:focus {
        color: rgba($cta-button-text-color, 0.8);
      }
    }
  }
}
