<%page args="template_settings" />

<%
  bg_image_url = template_settings.get('bg_image_url',"")
  extra_css = template_settings.get('extra_css',"")
%>

<section class="metalogix--custom-index-block" style="background-image: url('${bg_image_url}'); ${extra_css}">
  <div class="bs-container a--container metalogix--custom-index-block__container">
    <div class="metalogix--custom-index-block__content">
      <h1 class="animate-on-load">${template_settings['big_title']}</h1>
      <div class="content-text animate-on-load">
        ${template_settings['content']}
      </div>
    </div>
    <div class="metalogix--custom-index-block__wistia">
      ${template_settings['wistia_embed_code']}
    </div>
  </div>
</section>


<%block name="js_extra">
   <script type="text/javascript">
      $('.content-wrapper').addClass('metalogix-index');
      $(window).load(function() {
         $('.animate-on-load').addClass('loaded');
      })
      $(document).ready(function() {
        $('footer').toggleClass('negative');
      });
   </script>

   <script type="text/javascript">
    $('#videoModal').on('hidden.bs.modal', function () {
        $("#modalYoutube iframe").attr("src", $("#modalYoutube iframe").attr("src"));
    });
    </script>
</%block>
