<%page args="user_authenticated, user_name, theme_folder, logo_positive, logo_negative, logo_url, display_shopping_cart, shopping_cart_url, display_course_name, course_number, course_name, menu_items, slideout_menu_items" />
<%namespace file='../theme-variables.html' import="get_header_menu_logged_out_extra_items, get_header_menu_logged_in_extra_items" />
<%!
from django.utils.translation import ugettext as _
%>
## mako

<%
  if user_authenticated:
    menu_items = get_header_menu_logged_in_extra_items()
  else:
    menu_items = get_header_menu_logged_out_extra_items()
  endif
%>

<%
import third_party_auth
from third_party_auth import pipeline
custom_login_url = ''
try:
  tpa_idp = third_party_auth.provider.Registry.accepting_logins()[0]
  custom_login_url = pipeline.get_login_url(tpa_idp.provider_id, pipeline.AUTH_ENTRY_REGISTER, redirect_url=request.path)
except:
  custom_login_url = '/login'
%>
<section class="nxp--header">
  <div class="bs-container a--container nxp--header__container">
    <div class="nxp--header__upper">
      <a href="${logo_url}" class="nxp--header__logo">
        <img src="${logo_positive}" />
      </a>
      % if display_course_name:
        <div class="nxp--header__course-name">
          <span>${_(course_number)}</span>${_(course_name)}
        </div>
      % endif
      <ul class="nxp--header__upper-links">
        % if user_authenticated:
          <li>
            <div class="upper-welcome">${_("Welcome")}, <span>${_(user_name)}</span>.</div>
          </li>
        % endif
        <li>
          <a class="upper-link" href="https://www.nxp.com" target="_blank">${_("nxp.com")}<i class="fa fa-external-link"></i></a>
        </li>
      </ul>
      <button type="button" id="site-menu-toggle" class="nxp--header__mobile-toggle" aria-label="toggle menu">
        <span class="a--toggle-bar"></span>
        <span class="a--toggle-bar"></span>
        <span class="a--toggle-bar"></span>
        <span class="a--toggle-pulsar a--toggle-pulsar__1"></span>
        <span class="a--toggle-pulsar a--toggle-pulsar__2"></span>
      </button>
    </div>
    <div class="nxp--header__lower">
      <nav class="nxp--header__menu">
        <ul class="nxp--header__menu__container" id="slide-menu">
          <li class="nxp--header__menu__group">
            <ul>
              % for item in menu_items:
                <li class="a--${item[2]}">
                  <a href="${item[1]}" ${item[3]}>${_(item[0])}</a>
                </li>
              % endfor
            </ul>
          </li>
          <li class="nxp--header__menu__group">
            % if user_authenticated:
              <ul>
                <li class="">
                  <a href="/logout">${_("Sign Out")}</a>
                </li>
              </ul>
            % else:
              <ul>
                <li class="">
                  <a href="${custom_login_url}">${_("Sign In or Register")}</a>
                </li>
              </ul>
            % endif
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
