<%page args="theme_folder" />
## mako

<!-- Include jQuery -->
##<script src="/static/themes/${theme_folder}/js/jquery-1.11.2.min.js"></script>
<script src="/static/themes/${theme_folder}/js/jquery.mobile.custom.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/themes/${theme_folder}/js/bootstrap.min.js"></script>
<!-- Custom base JavaScript -->
<script src="/static/themes/${theme_folder}/js/base.js"></script>
<script type="text/javascript" src="//style.nxp.com/files/abstract/misc/WEBANALYTICS_DTM_LMS.js" type="text/javascript"></script>
<script type="text/javascript" src="//style.nxp.com/files/js/elqNow/elqwebanalytics.js"></script>
<script type="text/javascript">_satellite.pageBottom();</script>
