## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>
<% current_year = datetime.now().year %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
           <small>&copy; 1996-${current_year} InterSystems Corporation, Cambridge, MA. All Rights Reserved. <br />
           <a href="${reverse('tos')}">Terms of Service</a>&nbsp;|&nbsp;
           <a href="http://www.intersystems.com/privacy-policy/">Privacy Policy</a>&nbsp;|&nbsp;
           <a href="/faq">Frequently Asked Questions</a>&nbsp;|&nbsp;
           <a href="mailto:onlinetraining@intersystems.com">Contact us</a></small>
    </div>
    <div class="references">
      <span>Built on <a href="http://code.edx.org">Open edX</a>.</span>
    </div>
  </footer>
</div>
