## mako

<%namespace name='static' file='/static_content.html'/>
<link rel="stylesheet" type="text/css" href="${static.url('themes/' + settings.FEATURES.get('THEME_FOLDER') + '/css/main.css')}">
<link rel="stylesheet" type="text/css" href="${static.url('themes/' + settings.FEATURES.get('THEME_FOLDER') + '/css/font-awesome/css/font-awesome.min.css')}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,300italic,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-itunes-app" content="app-id=1044418100">

<!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
window.__insp = window.__insp || [];
__insp.push(['wid', 1462799708]);
(function() {
function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
})();
</script>
<!-- End Inspectlet Embed Code -->
