<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  ## To display a welcome video, change False to True, and add a YouTube ID (11 chars, eg "123456789xX") in the following line
  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', False)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "your-youtube-id")

  show_partners = microsite.get_value('show_partners', True)

%>

<section class="home">
  <header>
    <div class="outer-wrapper">
      <div class="title2">
        <hgroup class="hero-text">
          % if homepage_overlay_html:
            ${homepage_overlay_html}
          % else:
            <h1>Online Learning. Anytime. Anyplace.</h1>
            <h2>The knowledge you need. Now 24/7.</h2>
            <h3>
              <a href="/register">
                <span>Register Now</span>
              </a>
              already have an account? <a href="/login" class="underline">sign-in</a>
            </h3>
          % endif
        </hgroup>

      </div>

      % if show_homepage_promo_video:
        <a href="#video-modal" class="media" rel="leanModal">
          <div class="hero">
            <div class="play-intro"></div>
          </div>
        </a>
      % endif
    </div>
  </header>
  <section class="container">
      <section class="highlighted-courses">

        % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
          %if 'academies' in [key.lower() for key in courses.keys()]:
              <div class="org-courses-callout"><b>A selection of Global Summit Academies 2015 are now available online.</b>
              <a class="cta" href='#academies'>Access online Global Summit Academies</a>
              </div>
          %endif
          %for university in sorted(courses.keys(), key=lambda k:k.lower(), reverse=True):
            <section class="courses">
              <h2>${university}</h2>
              %if university.lower()=='academies':
              <a name="academies"></a>
              <p style="margin-bottom:2em">View a selection of Global Summit 2015 Academies available online.  Each online Academy includes a video of
                the Global Summit Academy presentation, hands-on exercises, and access to an online lab environment.</p>
              %endif
              <ul class="courses-listing">
              %for course in courses[university]:
                <li class="courses-listing-item">
                  <%include file="course.html" args="course=course" />
                </li>
              %endfor
              </ul>
          </section>
          %endfor
        % endif

      </section>
    </section>
  </section>

<section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
    <%
      youtube_video_id = homepage_promo_video_youtube_id
      if self.stanford_theme_enabled():
        youtube_video_id = "2gmreZObCY4"
    %>
      <iframe width="640" height="360" src="//www.youtube.com/embed/7GPGc_kubLo?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
