<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%!
  from django.utils.translation import ugettext as _
  from django.core.urlresolvers import reverse
  from microsite_configuration import microsite
  from courseware.courses import course_image_url, get_course_about_section
%>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  #show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
  #homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "jkIOi5bCMSo")
  show_homepage_promo_video = True
  homepage_promo_video_youtube_id = "nLzOtJWWrrw"

  show_partners = microsite.get_value('show_partners', True)
%>


% if show_homepage_promo_video:

<!-- Video modal -->
<div class="modal fade modal__video-fullscreen__wrapper" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal__video-fullscreen">
    <div class="modal__video-fullscreen__container" id="modalYoutube">
      <iframe src='https://www.youtube.com/embed/${homepage_promo_video_youtube_id}?rel=0&showinfo=0' frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="modal__video-fullscreen__close">
      <a href="#" data-dismiss="modal" aria-label="Close"><i class="fa fa-remove"></i></a>
    </div>
  </div>
</div>

% endif


<!-- LMS landing page hero portion -->
  <section class="landing-hero">
    <div class="container-bs">
      <div class="landing-hero__content">
        <div class="landing-hero__content__text">
          <h1>Cloudera Classroom</h1>
          <p>Bringing Cloudera related classes right to you.</p>
          % if show_homepage_promo_video:

            <a href="#" data-toggle="modal" data-target="#videoModal" class="landing-hero__content__button">Training intro video</a>

          % endif
        </div>
      </div>
    </div>
  </section>

  <section class="landing-additional-text">
    <div class="container-bs">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7">
          <h2>Data helps solve the world's biggest problems</h2>
          <div class="landing-additional-text__separator"></div>
          <p>Transform your organization with Cloudera. We deliver the modern platform for data management and analytics to help you get value from all your data..</p>
          <a class="landing-additional-text__button" href="/login">Sign in</a>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5">
          <img src="${static.url('themes/' + settings.FEATURES.get('THEME_FOLDER') + '/images/data-art.png')}" class="landing-graphic-additional">
        </div>
      </div>
    </div>
  </section>



% if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
  <section class="landing-courses">
    <div class="container-bs">
      <h2>Featured / newest courses</h2>
    </div>



    <div class="landing-courses__container">
      <div class="container-bs">
        <div class="row">
          <% i = 0; %>
          %for course in courses[:settings.HOMEPAGE_COURSE_MAX]:
            %if i == 0:
              <div class="col-xs-12 col-sm-8 col-lg-6 course-tile__container">
                <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" class="course-tile big-tile">
                  <div class="big-tile-content">
                    <span class="course-tile__date">${course.start_datetime_text()}</span>
                    <h3 class="course-tile__name">${get_course_about_section(course, 'title')}</h3>
                    <span href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" class="course-tile__more">View more</span>
                  </div>
                  <div class="course-tile__image" style="background-image: url('${course_image_url(course)}');"></div>
                </a>
              </div>
            %else:
              <div class="col-xs-12 col-sm-4 col-lg-3 course-tile__container">
                <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" class="course-tile">
                  <div class="course-tile-content">
                    <div class="course-tile__image" style="background-image: url('${course_image_url(course)}');"></div>
                    <span class="course-tile__date">${course.start_datetime_text()}</span>
                    <h3 class="course-tile__name">${get_course_about_section(course, 'title')}</h3>
                    <span href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" class="course-tile__more">View more</span>
                  </div>
                </a>
              </div>
            %endif
            <% i=i+1 %>
          %endfor
        </div>
      </div>
    </div>
  </section>
% endif

  <section class="landing-additional-text centered">
    <div class="container-bs">
      <div class="landing-additional-text__content">
        <h2>About Cloudera</h2>
        <div class="landing-additional-text__separator"></div>
        <h3>No one knows Apache Hadoop like Cloudera!</h3>
        <p>We provide the world’s fastest, easiest, and most secure data platform built on Hadoop. We help solve your most demanding business challenges with data.</p>
        <a class="landing-additional-text__button" href="http://www.cloudera.com">Learn more</a>
      </div>
    </div>
  </section>

  <section class="instructors-marketing container-bs">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
        <div class="instructors-marketing__text">
          <h2 class="instructors-marketing__text__title">
            Learn how to work with Cloudera...
          </h2>
          <h2 class="instructors-marketing__text__title second-color">
            ...straight from the people that built it!
          <h2>
        </div>
        <div class="instructors-marketing__list">
          <div class="instructors-marketing__list__single">
            <img class="instructors-marketing__list__single__image" src="${static.url('themes/' + settings.FEATURES.get('THEME_FOLDER') + '/images/instructor-images/edwin.jpg')}" alt="Nate Aune">
            <h4 class="instructors-marketing__list__single__name">Name Surname</h4>
            <span class="instructors-marketing__list__single__title">Position/span>
          </div>
          <div class="instructors-marketing__list__single">
            <img class="instructors-marketing__list__single__image" src="${static.url('themes/' + settings.FEATURES.get('THEME_FOLDER') + '/images/instructor-images/lynn.jpg')}" alt="Louis Gudema">
            <h4 class="instructors-marketing__list__single__name">Name Surname</h4>
            <span class="instructors-marketing__list__single__title">Position/span>
          </div>
          <div class="instructors-marketing__list__single">
            <img class="instructors-marketing__list__single__image" src="${static.url('themes/' + settings.FEATURES.get('THEME_FOLDER') + '/images/instructor-images/misty.jpg')}" alt="Cody Carson">
            <h4 class="instructors-marketing__list__single__name">Name Surname</h4>
            <span class="instructors-marketing__list__single__title">Position/span>
          </div>
          <div class="instructors-marketing__list__single">
            <img class="instructors-marketing__list__single__image" src="${static.url('themes/' + settings.FEATURES.get('THEME_FOLDER') + '/images/instructor-images/francis.jpg')}" alt="Cody Carson">
            <h4 class="instructors-marketing__list__single__name">Name Surname</h4>
            <span class="instructors-marketing__list__single__title">Position/span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 instructors-marketing__cta">
        <div class="instructors-marketing__cta__content">
          <h3 class="instructors-marketing__cta__title">Start learning about Cloudera!</h3>
          <p>Sign in or sign up to start learning about all the exciting ways Cloudera can help you in the cloud business.</p>
          <a class="instructors-marketing__cta__button" href="/register">Sign up!</a>
        </div>
      </div>
    </div>
  </section>


<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
   <script type="text/javascript">
    $('#videoModal').on('hidden.bs.modal', function () {
        $("#modalYoutube iframe").attr("src", $("#modalYoutube iframe").attr("src"));
    });
    </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
