<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%namespace file='main.html' import="login_query, stanford_theme_enabled"/>
<%namespace name='static' file='static_content.html'/>


<header>
  <h3 class="sr">${_("Registration Help")}</h3>
</header>

% if has_extauth_info is UNDEFINED:

<div class="cta cta-login">
  <h3 class="title">${_("Already registered?")}</h3>
  <p class="instructions">
    <a class="cta-login-action" href="${reverse('signin_user')}${login_query()}">
      ${_("Log in")}
    </a>
  </p>
</div>

% endif

## TODO: Use a %block tag or something to allow themes to
##       override in a more generalizable fashion.
% if not stanford_theme_enabled():
  <div class="cta cta-welcome">
    <h3>NOT ENROLLED?</h3>
    <p>
      <a href="http://bodymindinstitute.com/">Click here</a> to sign up with one of our courses at the BodyMind Institute today.
    </p>
  </div>
% endif

<div class="cta cta-nextsteps">
  <h3>${_("Need Help?")}</h3>
    <p>
      The BodyMind Student Support is here to ensure that you enjoy a significant learning experience and intimate social community from across BodyMind's many programs. We have many resources to support you through your studies. 
    </p>
    <p>
      If you have questions, or need more information, please call support at 1-888 787-8886 or, email <a href="mailto:info@bodymindinstitute.com"> info@bodymindinstitute.com</a>. Our office hours are 9am-5pm (MST - Canada), Monday to Friday.
    </p>
    <p>
      <a href="http://bodymindinstitute.com/our-story/support-faqs/">Click here</a> to check out more answers to our FAQ’s.
    </p>
    <p>
      <a href="https://www.facebook.com/BodyMindInstitute">Click here</a> to join us on Facebook.
    </p>
    </p>
</div>
