## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<footer class="footer">
  <div class="container-bs footer__container">
    <div class="footer__logo">
      <a href="${marketing_link('ROOT')}" class="footer__logo__negative"><img src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/images/icon-white.svg"></a>
      <a href="${marketing_link('ROOT')}" class="footer__logo__positive"><img src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/images/icon-color.svg"></a>
    </div>
    <div class="footer__content">
      <div class="footer__legal">
        Copyright © 2015 Metalogix International GmbH. All rights reserved.
      </div>
      <ul class="footer__links">
        <li><a href="http://www.metalogix.com/About.aspx">About</a></li>
        <li><a href="${marketing_link('FAQ')}">FAQ</a></li>
        <li><a href="http://www.metalogix.com/Resources/Promotions/Metalogix/Contact-Us.aspx">Contact</a></li>
        <li><a href="http://www.metalogix.com/Footer/Terms-Of-Use.aspx">Terms of service</a></li>
        <li><a href="http://www.metalogix.com/Footer/Privacy-Policy.aspx">Privacy policy</a></li>
        <li><a href="http://www.metalogix.com/About/Careers.aspx">Careers</a></li>
        <li><a href="https://www.facebook.com/Metalogix"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/metalogix"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/company/239787"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.youtube.com/user/MetalogixSharePoint"><i class="fa fa-youtube-play"></i></a></li>
      </ul>
    </div>
    <div class="footer__poweredby">
      <span>Powered by:</span>
      <a href="http://www.appsembler.com" class="footer__poweredby__logo negative" alt="Appsembler"><img src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/images/appsembler-icon-white.svg" alt="Appsembler"></a>
      <a href="http://open.edx.com" target="_blank" class="footer__poweredby__logo negative" alt="Open edX"><img src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/images/openedx-logo-negative.svg" style="height: 14px;" alt="Open edX"></a>
      <a href="http://www.appsembler.com" class="footer__poweredby__logo positive" alt="Appsembler"><img src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/images/appsembler-icon.svg" alt="Appsembler"></a>
      <a href="http://open.edx.com" target="_blank" class="footer__poweredby__logo positive" alt="Open edX"><img src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/images/openedx-logo.svg" style="height: 14px;" alt="Open edX"></a>
    </div>
  </div>
  <div class="container-bs footer__edx-legal">
    edX, Open edX and the edX and Open edX logos are trademarks or registered trademarks of edX Inc.
  </div>
</footer>





    <!-- Include jQuery mobile -->
    <script src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/js/jquery.mobile.custom.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/js/bootstrap.min.js"></script>
    <!-- Custom base JavaScript -->
    <script src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/js/base.js"></script>

    <script src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/js/user-image-generate.js"></script>
