## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<footer class="footer">
  <div class="container-bs footer__container">
    <div class="footer__logo">
      <a href="${marketing_link('ROOT')}" class=""><img src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/images/icon-white.svg"></a>
    </div>
    <div class="footer__content">
      <div class="footer__legal">
        © 2015 Appsembler. All rights reserved.
      </div>
      <ul class="footer__links">
        <li><a href="http://www.ughe.org/">UGHE Website</a></li>
        <li><a href="http://ughe.org/who-we-are/meet-the-team/">UGHE Team</a></li>
        <li><a href="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/MGHD_Student_Handbook_10.15.15.pdf">Handbook</a></li>
        <li><a href="mailto:strent@ughe.org">Help</a></li>
        <li><a href="https://chj.tbe.taleo.net/chj03/ats/careers/searchResults.jsp?org=PIH&cws=1&&act=search&WebPage=JSRCH&WebVersion=0&location=53&org=PIH">UGHE Careers</a></li>
      </ul>
    </div>
    <div class="footer__poweredby">
      <span>Powered by:</span>
      <a href="http://www.appsembler.com" class="footer__poweredby__logo" alt="Appsembler"><img src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/images/appsembler-icon-white.svg" alt="Appsembler"></a>
      <a href="http://open.edx.com" target="_blank" class="footer__poweredby__logo" alt="Open edX"><img src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/images/openedx-logo-negative.svg" style="height: 14px;" alt="Open edX"></a>
    </div>
  </div>
  <div class="container-bs footer__edx-legal">
    edX, Open edX and the edX and Open edX logos are trademarks or registered trademarks of edX Inc.
  </div>
</footer>





    <!-- Include jQuery mobile -->
    <script src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/js/jquery.mobile.custom.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/js/bootstrap.min.js"></script>
    <!-- Custom base JavaScript -->
    <script src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/js/base.js"></script>

    <script src="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/js/user-image-generate.js"></script>
