## mako

<%namespace name='static' file='/static_content.html'/>

<%! from datetime import datetime %>
<% 
now = datetime.now()
show_sitewide_alert = now > datetime(2016, 1, 30, 15, 0, 0, 0) and now < datetime(2016, 1, 30, 18, 0, 0, 0)
%>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

% if show_sitewide_alert:
<script language="javascript">
	$(document).ready(function() {
	//debugger;
	$('.window-wrap').prepend('<div class="wrapper-msg urgency-low"><strong>Warning</strong> The system will be down for maintenance on Saturday, Jan 30, from 3pm - 5pm EST (11pm - 1am UTC).  During this time, any lessons with labs will be down, but other lessons will work normally.  Thank you for your patience.</div>');
	});
</script>
% endif