## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

    <!-- Include jQuery mobile -->
    <script src="${static.url('themes/bodymind/js/jquery.mobile.custom.min.js')}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="${static.url('themes/bodymind/js/bootstrap.min.js')}"></script>
    <!-- Custom base JavaScript -->
    <script src="${static.url('themes/bodymind/js/base.js')}"></script>

