## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration import microsite %>
<% current_year = datetime.now().year %>

<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer>
    <div class="colophon">
      <div class="colophon-about">
        <p>&copy; 1996-${current_year} <strong>InterSystems Corporation</strong>, Cambridge, MA.&nbsp;<a title="Notices/Terms &amp; Conditions" href="http://www.intersystems.com/noticesterms-conditions/">Notices/Terms &amp; Conditions</a>.&nbsp;All Rights Reserved.&nbsp;<a title="Privacy Policy" href="http://www.intersystems.com/privacy-policy/">Privacy Policy</a>.&nbsp;<a title="Section 508" href="http://www.intersystems.com/section-508/">Section 508</a>.&nbsp;<a title="Site Map" href="http://www.intersystems.com/site-map/">Site Map</a>.</p>
      </div>
    </div>

  </footer>
</div>
