<%! 
from django.utils.translation import ugettext as _ 
from django.core.urlresolvers import reverse
%>

<header>
  <h2 class="sr">${_("Helpful Information")}</h2>
</header>

<div class="cta cta-help">
  <h3>${_("Not Enrolled?")}</h3>
  <p><a href="${reverse('register_user')}">${_("Sign up for {platform_name} today!").format(platform_name=platform_name)}</a></p>

  <h3>${_("Need Help?")}</h3>
  <p>
    Learning Services provides customers with the knowledge they need to be successful using our products and technologies. Learning is provided through a variety of educational opportunities including classroom, Web-based instruction, self-paced tutorials, videos and certification programs.</p>
    <p>Learning Services also promotes the teaching of our products and technologies at colleges and universities through our University Outreach  program. You can get started with our online courses by selecting the products you would like to learn more about.
  </p>
</div>