//  Basic branding variables
//
//  ================

$navbar-style: "white";  // set to "white" for white bg navbar scheme, or "brand" for brand color bg and white elements
$brand-primary-color: #02adfd;
$base-text-color: #3f464c;
$hero-bg-image: url("../images/landing-hero-bg.jpg");