@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);

@mixin sans-serif-light {
	font-family: 'Arial Rounded MT Light', Nunito, Arial, sans-serif;
	font-weight: 300;
}

@mixin sans-serif {
	font-family: 'Arial Rounded MT', Nunito, Arial, sans-serif;
	font-weight: 400;
}

@mixin sans-serif-semibold {
	font-family: 'Arial Rounded MT Bold', Nunito, Arial, sans-serif;
	font-weight: 600;
}

@mixin sans-serif-bold {
	font-family: 'Arial Rounded MT Bold', Nunito, Arial, sans-serif;
	font-weight: 700;
}

@mixin sans-serif-black {
	font-family: 'Arial Rounded MT ExtraBold', 'Arial Rounded MT Bold', Nunito, Arial, sans-serif;
	font-weight: 800;
}

@mixin sans-serif-italic {
	font-family: 'Arial Rounded MT', Nunito, Arial, sans-serif;
	font-weight: 400;
	font-style: italic;
}

@mixin sans-serif-bold-italic {
	font-family: 'Arial Rounded MT Bold', Nunito, Arial, sans-serif;
	font-weight: 700;
	font-style: italic;
}

@mixin serif {
	font-family: Georgia, Times, 'Times New Roman', serif;
}