//  Basic branding variables
//
//  ================

$navbar-style: "white";  // set to "white" for white bg navbar scheme, or "brand" for brand color bg and white elements
$brand-primary-color: #0099cc;
$base-text-color: #666;
$brand-secondary-color: #006699;
$brand-tertiary-color: #1993c8;
$brand-light-blue: #52B9E9;
$brand-main-color: #00577b;
$hero-bg-image: url("../images/girl-bg.jpg");

// #5F1863
