//  Basic branding variables
//
//  ================

$navbar-style: "brand";  // set to "white" for white bg navbar scheme, or "brand" for brand color bg and white elements
$brand-primary-color: #19518A;
$base-text-color: #4a4a4a;
$hero-bg-image: url("../images/hero-image.jpg");

// #5F1863
