//  Basic branding variables
//
//  ================

$navbar-style: "white";  // set to "white" for white bg navbar scheme, or "brand" for brand color bg and white elements
$brand-primary-color: #00C0E3;
$base-text-color: #231F20;
$hero-bg-image: url("../images/utec-video-poster.jpg");

// #5F1863
