$extracare-light-green: #A1D068;

.a--hero-section-01 {
  border-top: 0.8rem solid $extracare-light-green;
  border-bottom: 0.4rem solid $extracare-light-green;
  min-height: 14rem;
  padding: 10rem 2rem;

  h1 {
    display: inline-block;
    background-color: $brand-primary-color;
    padding: 1rem 2rem;
    font-size: 4.2rem;
    margin: 0;

    @media (max-width: $screen-sm-max) {
      font-size: 2.8rem;
    }
  }

  &__cta-container {
    margin: 0;
  }
}
