.find-courses header.search, .university-profile header.search {
	background-image: url("../images/panel-rapid-development.jpg");
}

header.global {
	float: left;
	width: 100%;
	background: url("../images/bg-header.jpg") repeat-x;
}


header.global .nav-global li a {
	display: block;
	padding: 5px;
	color: white;
}

.home header {
	background-image: url("../images/panel-healthcare.jpg");
}

.course-info header.course-profile {
	background: url("../images/panel-big-data.jpg") repeat scroll 0 0 / cover #F5F5F5;	
}

.view-login .introduction header {
    background-image: url("../images/login-and-register-banner.png");
}

.view-register .introduction header {
    background-image: url("../images/login-and-register-banner.png");
}

.colophon-about {
	color: #999;
	text-align: center;
	font-size: 11px;
	padding: 45px 0;
}

.colophon-about a {
	text-decoration: none;
	color: transparent;
}