.navbar {
	background-color: #fff;
	padding: 0;
	height: 60px;
	margin-bottom: 0;
	border-radius: none;
	border-bottom: 1px solid #d9d9d9;
	z-index: 100;

	&__logo {
		@include transition(all 0.2s ease-in-out);

		&:hover, &:focus {
			opacity: 0.8;
			outline: none;
		}

		& img {
			  width: auto;
			  height: 36px;
		}
	}
}

.navbar-nav {
	margin-top: 5px;
	float: right;
	font-size: 14px;

	& li {
		display: inline-block;
		padding: 0 10px;

		& a {
			@include sans-serif-bold;
			font-size: 14px;
			text-transform: uppercase;
			color: #40b8fd !important;
			text-decoration: none;
			@include transition(all 0.3s ease-in-out);
			padding: 0;
			

			&:hover, &:active {
				color: tint($navbar-text-color, 20%) !important;
				padding: 0 $header-li-hover-expand;
			}
		}

		&.active {

			& a {
				background: none !important;
			}
		}

		& .navbar__button {
			color: #fff !important;
			background-color: #40b8fd;
			padding: 10px 20px;
			border-radius: 5px;
			margin-top: -10px;

			&:hover, &:focus {
				color: #fff !important;
				background-color: shade(#40b8fd, 20%) !important;
				padding: 10px 20px;
			}
		}
	}

	.dropdown-menu {
		left: auto;
		padding: 5px 10px;
		background-color: #fff;

		& li {
			display: block;
			padding: 10px;

			& a {
				text-transform: capitalize;
				color: #666 !important;
				@include sans-serif;
				@include transition(all 0.3s ease-in-out);

				&:hover, &:focus {
					background: none;
					opacity: 0.7;
				}
			}
		}

		& .divider {
			padding: 0;
		}
	}
}

.navigation {
	@include display(flex);
	@include align-items(center);
	@include justify-content(space-between);
	height: 50px;

	&:before, &:after {
		display: none;
	}
}

.navigation:after {
	display: none !important;
}

.navbar-nav {

	& .navigation-group {
		display: inline-block;

		&__user {
			margin-left: 20px;

			& li a {
				text-transform: capitalize;

				& i {
					margin-left: 5px;
					display: inline-block;
				}
			}

			&__cart {
				margin-left: 10px;
				padding: 10px 0 10px 15px;
				border-left: 1px solid #efefef;

				& a i {
					font-size: 18px;
				}
			}
		}
	}
}

.navigation {

	&__slogan {
		display: inline-block;
		margin-left: 20px;
		font-size: 14px;
		@include sans-serif-bold;
		color: #a6a6a6;
		margin-top: 5px;
	}

	&__course-name {
		display: inline-block;
		margin-left: 20px;
		font-size: 14px;
		@include sans-serif;
		color: #a6a6a6;
		margin-top: 5px;
		padding: 10px 0 10px 20px;
		border-left: 1px solid #efefef;

		& span {
			@include sans-serif-bold;
		}

		&__provider {
			display: none;
		}
	}

	&-group__login {

		& li {
			border-right: 1px solid #ddd;

			&:last-child {
				border-right: none;
			}
		}
	}
}

.navbar-header {
	@include display(flex);
	@include align-items(center);
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background: none;
}


@media (max-width: $screen-xs-max) {
	.navbar__logo {
		margin-left: 10px;
	}
}