.a--palix-hero {
  padding-top: 8rem;
  padding-bottom: 8rem;
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-color: $brand-primary-color;
  line-height: 150%;
  position: relative;

  &:after {
    position: absolute;
    height: 0.4rem;
    bottom: 0.6rem;
    left: 0;
    right: 0;
    background-color: #fff;
    content: "";
    z-index: 2;
  }

  &__container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &__content {

    @media(min-width: $screen-md-min) {
      width: 50%;
    }
  }

  h1 {
    @include big-headings-font;
    font-size: 7.2rem;
    line-height: 100%;
    margin: 0 0 2rem;
    color: inherit;;

    @media(max-width: $screen-sm-max) {
      font-size: 4.2rem;
    }
  }

  h4 {
    @include primary-font-light;
    font-size: 2rem;
    line-height: 140%;
    margin: 0;
    color: inherit;
  }

  &__cta-container {
    margin: 3.5rem 0 0;

    & .a--cta {
      @include large-cta-font;
      background-color: #fff;
      border: $navbar-button-border;
      display: inline-block;
      padding: 2rem 2.5rem;
      font-size: 1.8rem;
      margin: 0;
      @include large-cta-font;
      color: $brand-primary-color;
      @include button_radius;
      @include button_splash($buttons-border-radius);

      &:hover, &:focus {
        opacity: 0.7;
        color: $brand-primary-color;
      }
    }
  }
}
