.course-tile {
  @include display(flex);
  overflow: hidden;
  position: relative;
  min-height: 280px;
  padding: 40px 30px 62px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  @include transition(all 0.3s ease-in-out);
  margin: 15px 0;

  &:hover, &:focus {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  &__container {
    @include display(flex);

    .course-tile {
      width: 100%;
    }
  }


  &.big-tile {
    background-color: $brand-light-blue;
    color: #fff;

    &:hover, &:focus {
      color: #fff;
    }

    .big-tile-content {
      width: 55%;
      @include flex-shrink(1);
    }

    .course-tile__name {
      font-size: 32px;
    }

    .course-tile__image {
      opacity: 1;
    }
  }

  &__date {
    display: block;
    @include sans-serif;
    margin: 0 0 15px;
    font-size: 16px;
  }

  &__name {
    @include sans-serif-light;
    line-height: 150%;
    margin: 0 0 30px;
    font-size: 24px;
  }

  &__more {
    @include sans-serif-bold;
    font-size: 16px;
    margin: 0;
    position: absolute;
    bottom: 30px;
  }

  &__image {
    @include flex-shrink(0);
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    position: absolute;
    opacity: 0.1;

    $tile-image-size: 280px;
    width: $tile-image-size;
    height: $tile-image-size;
    bottom: -($tile-image-size/5);
    right: -($tile-image-size/7);

    @media(max-width:$screen-md-max) {
      $tile-image-size: 280px;
      width: $tile-image-size;
      height: $tile-image-size;
      bottom: -($tile-image-size/5);
      right: -($tile-image-size/7);
    }

    @media(max-width:$screen-sm-max) {
      $tile-image-size: 260px;
      width: $tile-image-size;
      height: $tile-image-size;
      bottom: -($tile-image-size/5);
      right: -($tile-image-size/7);
    }

    @media(max-width:$screen-xs-max) {
      $tile-image-size: 140px;
      width: $tile-image-size;
      height: $tile-image-size;
      bottom: -($tile-image-size/5);
      right: -($tile-image-size/7);
    }
  }
}
