.dashboard-wrapper {
	background-color: $greyish-background;
	padding: 20px 0 0;
}

.dashboard-user {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid $brand-primary-color;

	&__info {
		@include sans-serif;
		display: inline-block;
		list-style-type: none;
		margin: 10px 25px 10px 0;
		padding: 5px 25px 5px 0;
		border-right: 1px solid $standard-line-separator-color;
		font-size: 16px;
		@include transition(all 0.3s ease-in-out);

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			border-right: 0;
			margin-right: 25px;
		}

		&.inactive {
			width: 0;
			height: 0;
			overflow: hidden;
			border: none;
			padding: 0;
			margin: 0;
		}

		&.active {
			opacity: 1;
			padding-left: 0;
			padding-right: 0;
			border: none;

			& .cancel-editing {
				display: inline-block;
			}
		}

		& .cancel-editing {
			display: none;
			color: $base-text-color;
			margin-left: 20px;
			opacity: 0.6;

			&:hover, &:focus {
				opacity: 1;
			}
		}

		&__label {
			font-size: 16px;
			color: rgba($base-text-color, 0.8);
			display: inline-block;
			margin-right: 6px;

			&.smaller {
				font-size: 12px;
			}
		}

		&__name {
			@include sans-serif-bold;
			color: $brand-primary-color;
		}

		&__edit, &__edit:link, &__edit:visited {
			color: $base-text-color;
			margin-left: 8px;
			opacity: 0.4;
			@include transition(all 0.3s ease-in-out);

			&:hover, &:focus, &.active {
				opacity: 1;
				color: $brand-primary-color;
			}
		}

		&__edit-setting-link, &__edit-setting-link:link, &__edit-setting-link:visited {
			@include sans-serif;
			color: $base-text-color;
			opacity: 0.4;

			&:hover, &:focus, &.active {
				opacity: 1;
				color: $brand-primary-color;
			}
		}

		&__container {
			padding: 0;
			margin: 0;
		}
	}

	&__setting-change {
		display: inline-block;
		list-style-type: none;
		margin: 10px 15px 10px 0;
		padding: 5px 15px 5px 0;
		font-size: 16px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			margin-right: 0;
		}

		&__input, input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
			padding: 8px 10px;
			background-color: transparent;
			border: none;
			outline: none;
			border-bottom: 2px solid $standard-line-separator-color;
			@include transition(all 0.3s ease-in-out);
			min-width: 220px;

			&:hover, &:focus {
				border: none;
				border-bottom: 2px solid $brand-primary-color;
				outline: none;
				background-color: rgba(#fff, 0.8);
			}
		}

		&__button, &__button:link {
			@include button-positive($brand-primary-color);
			padding: 10px 30px;
			border: none;
			outline: none;
			@include expanding-button(30px, 15px);
		}

		&__container {
			display: none;
			padding: 20px 0 0 0;
			margin: 20px 0 0 0;
			border-top: 2px solid $standard-line-separator-color;
		}
	}
}

.dashboard-courses {

	&:before, &:after {
		display: none;
	}

	&__container {
		padding: 20px 0 30px;
		margin: 0;
	}

	&__course {
		list-style-type: none;
		@include display(flex);
		@include flex-wrap(wrap);
		@include align-items(center);
		padding-top: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid $standard-line-separator-color;

		&:last-child, &:last-of-type {
			border-bottom: none;
		}

		&:before, &:after {
			display: none;
		}

		&__image-container {
			@include display(flex);
		}

		&__image {
			background-size: cover;
			background-position: center center;
			border: 1px solid $standard-image-border-color;
			width: 100%;
			height: 280px;
			position: relative;

			@media(max-width:$screen-xs-max) {
				height: 160px;
			}

			&__content {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				@include display(flex);
				@include justify-content(center);
				@include align-items(center);
				z-index: 2;
			}

			&:before {
				position: absolute;
				content: ' ';
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				@include linear-gradient(to top, $base-text-color, rgba(0,0,0,0));
				background-color: transparent;
				opacity: 0.5;
				z-index: 1;
			}
		}

		&__info {
			@include display(flex);
			@include flex-wrap(wrap);
			@include align-items(flex-start);
			padding-top: 15px;
			padding-bottom: 15px;
		}

		&__number {
			@include slab-serif;
			color: $brand-primary-color;
			display: block;
			margin: 0 0 5px;
			width: 100%;
			font-size: 24px;

			@media(max-width: $screen-xs-max) {
				font-size: 18px;
			}
		}

		&__name, a.dashboard-courses__course__name {
			font-size: 32px;
			line-height: 140%;
			margin: 0 0 20px;
			color: $base-text-color;
			@include sans-serif-light;

			@media(max-width:$screen-xs-max) {
				font-size: 24px;
			}
		}

		&__date {
			margin: 0 0 15px;
			padding: 15px 0;
			border-top: 1px solid rgba($base-text-color, 0.3);
			border-bottom: 1px solid rgba($base-text-color, 0.3);
			display: block;
			width: 100%;
			color: lighten($base-text-color, 50%);
			font-size: 16px;

			.started {
				color: $ok-color;
			}

			.ended {
				color: $error-color;
			}
		}

		&__description {
			margin: 5px 0 0;
			@include sans-serif;
			color: $base-text-color;
			font-size: 14px;
		}

		&__options {
			margin: 0;
			padding: 0;
			font-size: 18px;

			@media(max-width:$screen-xs-max) {
				font-size: 16px;
			}
		}

		&__option {
			margin: 5px 20px 0 0;
			list-style-type: none;
			display: inline-block;
			@include sans-serif;

			& a, & a:link {
				color: $base-text-color;
				opacity: 0.6;
				@include transition(all 0.3s ease-in-out);
				@include sans-serif;

				&:hover, &:focus {
					opacity: 1;
					color: $brand-primary-color;
				}

				&.unenroll {

					&:hover, &:focus {
						color: $error-color;
					}
				}
			}
		}

		&__view-button {
			@include button-negative;
			width: auto;
			color: #fff !important;
			text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
			@include sans-serif-bold;
			font-size: 18px !important;

			&:hover, &:focus {

			}
		}
	}
}

#email-settings-modal, #unenroll-modal {
	top: auto !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	margin: 0 !important;
	position: fixed !important;
	width: 100%;
	overflow: auto;
	padding: 0;
	background-color: #fff;

	& .inner-wrapper {
		max-width: 980px;
		margin: 0 auto;
		border: none;
		outline: none;
		background: none;

		& header {

			& h2 {
				@include sans-serif-bold;
				font-size: 24px;
				color: $brand-primary-color;
				margin: 25px 0;
			}
		}

		& label {
			display: block;
			text-align: center;
			font-size: 16px;
			@include sans-serif;
			margin: 10px 0;
		}

		& input[type="checkbox"] {
			display: block;
			margin-bottom: 10px;
			width: 100%;
		}

		& input[type="submit"] {
			@include button-positive($brand-primary-color);
			outline: none;
			border: none;
			font-size: 16px;
			padding: 10px;
			box-shadow: none;
			@include transition(all 0.3s ease-in-out);

			&:hover, &:focus {

			}
		}

		& .close-modal {
			top: 10px;
			right: 10px;
		}
	}
}

#unenroll-modal {

	& .inner-wrapper {

		& header h2 {
			color: $error-color;
		}

		& input[type="submit"] {
			@include button-positive($error-color);
		}
	}
}


.dashboard-header {
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 2px solid $brand-primary-color;

	&__main {
		@include display(flex);
		@include flex-wrap(nowrap);
		@include align-items(center);
	}

	& h2 {
		@include sans-serif;
		font-size: 20px;
		color: rgba($base-text-color, 0.7);
		width: 100%;
		@include flex-shrink(1);
		letter-spacing: 0;

		span {
			@include slab-serif-bold;
			color: $brand-primary-color;
		}
	}

	&__search-trigger {
		@include flex-shrink(0);
		background: none;
		outline: none;
		border: none;
		font-size: 20px;
		box-shadow: none;
		color: rgba($base-text-color, 0.7);
		@include transition(all 0.3s ease-in-out);
		text-shadow: none;
		margin-top: 10px;

		&:hover, &:focus {
			background: none !important;
			outline: none;
			border: none;
			font-size: 20px;
			box-shadow: none !important;
			color: $brand-primary-color;
		}

		& .active {
			display: none;
		}

		&.activated {
			@include transform(rotate(1080deg));

			& .inactive {
				display: none;
			}

			& .active {
				display: block;
			}
		}
	}

	&__search {

		&__container {
			width: 100%;
			margin-bottom: -20px;
			margin-top: 30px;
			display: none;

			& form, & .search-input-container {
				width: 100%;
				@include display(flex);
				@include flex-wrap(nowrap);
				@include align-items(center);

				& input[type="text"], #dashboard-search-input {
					width: 100%;
					@include flex-shrink(1);
					background: none;
					border: none;
					outline: none;
					@include sans-serif;
					font-size: 18px;
					box-shadow: none;
					padding: 10px 0 20px;
				}
			}
		}

		&__button {
			@include flex-shrink(0);
			background: none;
			outline: none;
			border: none;
			font-size: 20px;
			margin-bottom: 20px;
			box-shadow: none;
			color: rgba($base-text-color, 0.6);
			@include transition(all 0.3s ease-in-out);

			&:hover, &:focus {
				background: none !important;
				outline: none;
				border: none;
				font-size: 20px;
				box-shadow: none !important;
				color: rgba($base-text-color, 1);
			}

			&.cancel-button {
				display: none;
			}
		}
	}
}

.dashboard-notifications {

	&__container {
		padding: 0;
	}
}

.dashboard-banner {
	font-size: 16px;
	padding: 20px 15px 30px;
	border-bottom: 1px solid $standard-line-separator-color;
	color: rgba($base-text-color, 0.9);
	@include sans-serif-bold;
}

.search-results {
	padding: 40px 15px;
	color: 14px;
	@include sans-serif;

	.search-back-to-courses {
		color: $brand-primary-color;
		@include sans-serif-bold;

		&:hover, &:focus {
			color: darken($brand-primary-color, 20%);
		}
	}

	h2 {
		font-size: 24px;
		@include sans-serif;
		color: rgba($base-text-color, 0.7);
		margin: 25px 0 10px;
	}

	.search-count {
		@include sans-serif-bold;
		color: rgba($base-text-color, 0.7);
		margin: 0 0 30px;
		float: none;
	}
}
