.signup-form, .login-form {
	padding: 40px 20px;
	background-color: #fff;

	&__instructions {
		font-size: 18px;
		margin: 0 0 20px;
		line-height: 140%;
	}

	&__help {

		@media (min-width:$screen-sm-min) {
			padding-left: 40px;
		}

		&__heading {
			margin: 0 0 15px;
			@include sans-serif;
			font-size: 20px;
			color: $brand-primary-color;
			text-transform: uppercase;
		}

		&__subheading {
			margin-top: 16px;
			@include sans-serif-bold;
		}

		p {
			margin: 5px 0;
			font-size: 14px;
		}

		p a, p a:link, p a:visited {
			color: $brand-primary-color;
			@include sans-serif-semibold;

			&.big {
				font-size: 16px;
			}

		}

		&__group {
			margin-bottom: 30px;
			font-size: 14px;

			&.contacts {

				p a, p a:link, p a:visited {
					color: $base-text-color;
					@include sans-serif;
				}
			}
		}

		&__login-button, &__login-button:link, &__login-button:visited {
			font: inherit;
			@include button-positive(#ffa200);
			padding: 8px 30px;
			margin-bottom: 20px;
		}
	}
}
