//  Basic branding variables
//
//  ================

$navbar-style: "brand";  // set to "white" for white bg navbar scheme, or "brand" for brand color bg and white elements
$brand-primary-color: #00AFE4;
$base-text-color: #152527;
$hero-bg-image: url("../images/hero-image.jpg");
$cmc-purple: #72498e;

// #5F1863
