@mixin primary-font-light {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 300;
}

@mixin primary-font {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin primary-font-bold {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 500;
}

@mixin primary-font-black {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 700;
}

@mixin primary-font-light-italic {
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	font-weight: 300;
}

@mixin primary-font-italic {
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	font-weight: 400;
}

@mixin primary-font-bold-italic {
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	font-weight: 500;
}


@mixin body-base-font {
	@include primary-font;
}


@mixin large-cta-font {
	@include primary-font-light;
}

@mixin big-headings-font {
	@include primary-font-light;
}

@mixin small-headings-font {
	@include primary-font-bold;
}
