@mixin primary-font-light {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
}

@mixin primary-font {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin primary-font-bold {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
}

@mixin primary-font-black {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 800;
}

@mixin primary-font-light-italic {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 300;
}

@mixin primary-font-italic {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 400;
}

@mixin primary-font-bold-italic {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 700;
}

@mixin oswald-headings {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-transform: uppercase !important;
}


@mixin body-base-font {
	@include primary-font;
}


@mixin large-cta-font {
	@include primary-font-light;
}

@mixin big-headings-font {
	@include oswald-headings;
}

@mixin small-headings-font {
	@include primary-font-bold;
}
